.card-detalis {
    margin-bottom: 100px;
    &__wrapper {
        margin-bottom: 95px;
        display: flex;
        align-items: center;
        @include max($lg) {
            margin-bottom: 30px;
        }
        @include max($sm) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__inner {
        display: flex;
        margin-right: 69px;
        @include max($xl) {
            margin-right: 25px;
        }
        @include max($lg) {
            display: block;
            margin-right: 15px;
        }
        @include max($sm) {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
    &__small-slider {
        width: 135px;
        height: 530px;
        margin-right: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include max($lg) {
            flex-direction: row;
            width: 269px;
            margin-bottom: 16px;
            height: 84px;
            margin-right: 0;
        }
    }
    &__small-item {
        height: 159px;
        width: 134px;
        cursor: pointer;
        transition: border-color .3s ease-in;
        &:hover {
            border-color: $global;
        }
        @include max($lg) {
            height: 84px;
            width: 77px;
        }
    }
    &__small {
        object-fit: cover;
    }
    &__small--bottom {
        margin: auto auto 0;
        @include max($lg) {
            margin: 0;
        }
    }
    &__big-slider,
    &__big-item {
        width: 388px;
        height: 532px;
        @include max($lg) {
            width: 270px;
            height: 377px;
        }
    }
    &__small-item,
    &__big-item {
        border: 2px solid #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__small-item {
        align-items: normal;
    }
    &__big{
        &--lamp {
            margin: auto;
        }
        @include max($lg) {
            width: 80%;
            height: 80%;
        }
    } 

    &__product {
        max-width: 535px;
        padding: 0;
        box-shadow: none;
        & .product-card__name {
            font-size: 40px;
            color: #333;
            font-family: $Rubik;
            font-weight: $fw400;
            @include max($md) {
                font-size: 27px;
            }
        }
        & .sidebar__star {
            margin-bottom: 30px;
            @include max($lg) {
                margin-bottom: 5px;
            }

        }
        & .product-card__price--line {
            color: #333;
            font-size: 30px;
            margin-bottom: 25px;
            display: block;
            @include max($lg) {
                margin-bottom: 0;
                
            }
            @include max($md) {
                font-size: 24px;
            }
        }
        & .product-card__text {
            line-height: 1.8;
            margin-bottom: 30px;
            P {
                @include lineClamp;
                -webkit-line-clamp: 3;
            }
            @include max($lg) {
                margin-bottom: 10px;
            }
        }
        @include max($lg) {
            max-width: 100%;
        }
    }
    &__number {
        outline: transparent;
        &:focus {
            outline: 1px solid $title;
        }
    }
    & .jq-number {
        padding: 0 50px;
        border: 1px solid $gray;
        margin-right: 15px;
        @include max($md) {
            margin-bottom: 14px;
        }
    }    
    & .jq-number.focused > .jq-number__field {
        border-top: none;
        border-bottom: none;
    }
    & .jq-number__field {
        width: 50px;
        border: 1px solid $gray;
        border-top: none;
        border-bottom: none;
        border-radius: 0;
        box-shadow: none;
    }
    & .jq-number__field input {
        width: 50px;
        height: 51px;
        padding: 0;
        border: none;
        outline: transparent;
        background: none;
        font-size: 15px;
        text-align: center;
        color: #333;
        font-family: $Rubik;
    }
    & .jq-number__spin {
        position: absolute;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 0;
        border: none;
        box-shadow: none;
        background: transparent;
        text-shadow: none;
        cursor: pointer;
        &::after {
            border: none;
            color: #333;
        }
    }
    & .jq-number__spin.minus {
        left: 0;
        &::after {
            font-size: 23px;
            content: '-';
            left: 21px;
            top: 7px;
        }
    }
    & .jq-number__spin.plus {
        right: 0;
        &::after {
            left: 19px;
            top: 9px;
            content: '+';
            font-size: 22px;
        }
    }
    &__btn {
        height: 54px;
        text-transform: uppercase;
        font-size: 15px;
        border: none;
        color: #fff;
        background-color: $gray;
        padding: 0 50px;
        outline: transparent;
        border-radius: 5px;
        margin-bottom: 55px;
        transition: background-color .3s  ease-in;
        cursor: pointer;
        &:hover {
            background-color: $suptitle;
        }
        &:focus {
            background-color: $global;
        }
        &:active {
            background-color: $text;
        }
        @include max($lg) {
            margin-bottom: 15px;
        }
        @include max($md) {
            display: block;
            padding: 0 29px;
        }
    }
    &__item {
        display: flex;
        color: $title;
        &:not(:last-child) {
            margin-bottom: 10px;
            @include max($md) {
                margin-bottom: 0;
            }
        }
    }
    &__heading {
        margin-right: 4px;
    }
    &__link {
        outline: transparent;
        transition: color .3s ease-in;
        &:hover {
            color: $orange100;
        }
        &:focus {
            color: $global;
        }
        &:active {
            color: $text;
        }
    }
    @include max($lg) {
        margin-bottom: 30px;
    }
}


