.card-slider {
    margin-bottom: 106px;
    &__title {
        text-align: left;
        color: $title;
        @include max($sm) {
            font-size: 24px;
        }
    }
    &__list {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 1200px;
        margin: 0 auto;
        @include max($xl) {
            width: 930px;
        }
        @include max($lg) {
            width: 678px;
        }
        @include max($md) {
            width: 270px;
        }
    }
    &__item {
        display: block !important;
        height: 385px;
        width: 270px !important;
        article {
            box-shadow: none;
            border: 1px solid #ececec;
            & .product-card__photo {
                margin-bottom: auto;
            }
        }
        @include max($xl) {
            margin: 0 auto;
        }
        @include max($md) {
            margin: 0;
        }
    }
    &__holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 65px;
        @include max($lg) {
            margin-bottom: 20px;
        }
    }
    &__buttons {
        display: flex;
    }
    &__arrows {
        @include bg;
        background-size: auto;
        border-radius: 5px;
        border: 2px solid rgba(163, 187, 200, 0.2);
        width: 46px;
        height: 46px;
        padding: 0;
        background-color: transparent;
        outline: transparent;
        cursor: pointer;
        transition: background-color .3s ease-in, border-color .3s ease-in;
        &:hover {
            background-color:rgba(163, 187, 200, 0.2);
        }
        &:focus {
            background-color: $orange;
            border-color: $orange;
        }
        &:active {
            background-color: $orange100;
            border-color: $orange100;
        }
        &.slick-disabled {
            border-color: $gray;
        }
    }

    &__prev {
        background-image: url(../images/icons/arrow-slider-left.svg);
        margin-right: 15px;
    }

    &__next {
        background-image: url(../images/icons/arrow-slider-right.svg);
    }
    @include max($lg) {
        margin-bottom: 20px;
    }
}
