<section class="team">
    <div class="container">
        <div class="team__inner">
            <div class="team__content">
                <h2 class="title team__title">Our Team</h2>
                <div class="team__text">
                    <p>
                        Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>
                </div>
                <a class="link team__join" href="#">
                    Join With US
                </a>
            </div>


            <ul class="team__list">
                <li class="team__items">
                    <img class="team__images" src="images/team-1.jpg" width="370" height="320" alt="Photo Eliza Elliot">
                    <div class="team__info">
                        <div class="team__details">
                            <span class="team__name">Eliza Elliot</span>
                            <span class="team__profession">Commodo tempor</span>
                        </div>
                        <ul class="team__socials">
                            <li class="team__item">
                                <a class="btn-circle team__link" href="#">
                                    <svg class="team__instagram">
                                        <use xlink:href="images/sprite.svg#insta"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        when you click on the instagram icon, go to the page on social networks
                                    </span>
                                </a>
                            </li>
                            <li class="team__item">
                                <a class="btn-circle team__link" href="#">
                                    <svg class="team__google">
                                        <use xlink:href="images/sprite.svg#google"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        when you click on the google icon, go to the article about this person
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="team__items">
                    <img class="team__images" src="images/team-2.jpg" width="370" height="320" alt="Photo Roscoe A">
                    <div class="team__info">
                        <div class="team__details">
                            <span class="team__name">Roscoe A.</span>
                            <span class="team__profession">Commodo tempor</span>
                        </div>
                        <ul class="team__socials">
                            <li class="team__item">
                                <a class="btn-circle team__link" href="#">
                                    <svg class="team__instagram">
                                        <use xlink:href="images/sprite.svg#insta"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        when you click on the instagram icon, go to the page on social networks
                                    </span>
                                </a>
                            </li>
                            <li class="team__item">
                                <a class="btn-circle team__link" href="#">
                                    <svg class="team__google">
                                        <use xlink:href="images/sprite.svg#google"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        when you click on the google icon, go to the article about this person
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="team__items">
                    <img class="team__images" src="images/team-3.jpg" width="370" height="320" alt="Photo Ruby">
                    <div class="team__info">
                        <div class="team__details">
                            <span class="team__name">Ruby M.</span>
                            <span class="team__profession">Commodo tempor</span>
                        </div>
                        <ul class="team__socials">
                            <li class="team__item">
                                <a class="btn-circle team__link" href="#">
                                    <svg class="team__instagram">
                                        <use xlink:href="images/sprite.svg#insta"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        when you click on the instagram icon, go to the page on social networks
                                    </span>
                                </a>
                            </li>
                            <li class="team__item">
                                <a class="btn-circle team__link" href="#">
                                    <svg class="team__google">
                                        <use xlink:href="images/sprite.svg#google"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        when you click on the google icon, go to the article about this person
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="team__items">
                    <img class="team__images" src="images/team-4.jpg" width="370" height="320" alt="Photo Marie F. Bloss">
                    <div class="team__info">
                        <div class="team__details">
                            <span class="team__name">Marie F. Bloss</span>
                            <span class="team__profession">Commodo tempor</span>
                        </div>
                        <ul class="team__socials">
                            <li class="team__item">
                                <a class="btn-circle team__link" href="#">
                                    <svg class="team__instagram">
                                        <use xlink:href="images/sprite.svg#insta"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        when you click on the instagram icon, go to the page on social networks
                                    </span>
                                </a>
                            </li>
                            <li class="team__item">
                                <a class="btn-circle team__link" href="#">
                                    <svg class="team__google">
                                        <use xlink:href="images/sprite.svg#google"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        when you click on the google icon, go to the article about this person
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>