@import 'reset';
@import 'vars';
@import 'fonts';
@import 'libs';
@import 'global';
@import 'footer';


.header {
    padding: 54px 0 49px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__socials {
        display: flex;
        align-items: center;
    }
    &__search {
        width: 48px;
        height: 48px;
        border: none;
        padding: 0;
        border-radius: 50%;
        background-color: #edf1f4;
        display: flex;
        cursor: pointer;
        transition: background-color .3s ease-in;
        margin-right: 20px;
        outline: transparent;
        &:hover .header__search-svg{
            fill: #2c2c2c;
        }
        &:hover{
            background-color: #6c7074;
        }
        &:focus {
            outline: 1px solid $title;
        }
    }
    &__search-svg {
        fill: #243f4d;
        margin: auto;
        transition: fill .3s ease-in;
    }
    &__basket {
        background-color: #fcd7b6;
        border-radius: 25px;
        padding: 10px 35px;
        display: flex;
        margin-right: 15px;
        align-items: center;
    }
    &__holder {
        padding: 6px 20px 4px 0;
        border-right: 1px solid #fff;
        margin-right: 20px;
    }
    &__icons {
        position: relative;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        outline: transparent;
        &:hover .header__heart-num,
        &:hover .header__corb-num{
            background-color: #000;
            color: #fff;
        }
        &:focus {
            outline: 1px solid $title;
        }
    }
    &__heart {
        display: block;
        width: 18px;
        height: 16px;
        background-image: url(../images/heart.svg);
    }
    &__corb {
        display: block;
        width: 19px;
        height: 17px;
        background-image: url(../images/corb.svg);
    }
    &__heart-num,
    &__corb-num {
        position: absolute;
        right: -5px;
        top: -5px;
        @extend %dmsans-400;
        font-size: 10px;
        width: 16px;
        height: 16px;
        display: block;
        border-radius: 50%;
        background-color: #fff;
        color: $title;
        line-height: 1.6;
        text-align: center;
        transition: color .3s ease-in, background-color .3s ease-in;
    }
    &__burger-menu {
        width: 48px;
        height: 48px;
        border: none;
        padding: 0;
        border-radius: 50%;
        cursor: pointer;
        background-image: url(../images/menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        transition: opacity .3s ease-in;
        outline: transparent;
        &:hover {
            opacity: .5;
        }
        &:focus {
            outline: 1px solid $title;
        }
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__item:not(:last-child) {
        margin-right: 33px;
    }
    &__link {
        @extend %rubik-500;
        font-size: 15px;
        line-height: 1;
        transition: color .3s linear;
        outline: transparent;
        &:hover {
            color: #f39747;
        }
        &:focus {
            color: $vio;
        }
    }
}

.trendy {
    &__slider {
        & .slick-dots {
            position: absolute;
            display: flex;
            width: 100%;
            justify-content: center;
            bottom: 45px;
        }
        & .slick-dots li:not(:last-child) {
            margin-right: 10px;
        }
        & .slick-dots li button {
            @extend %rubik-500;
            color: $title;
            padding: 0;
            cursor: pointer;
            font-size: 15px;
            border-radius: 50%;
            border: none;
            width: 30px;
            height: 30px;
            background-color: rgba(255, 255, 255, 0.3);
            outline: transparent;
            &:focus {
                outline: 1px solid $vio;
            }
        }
        & .slick-dots li.slick-active button {
            background-color: rgb(255, 255, 255);
        }
    }
    &__title {
        @extend %rubik-500;
        color: $title;
        font-size: 72px;
        line-height: 1;
        text-transform: uppercase;
        max-width: 445px;
        margin-bottom: 35px;
    }
    &__text {
        font-size: 18px;
        line-height: 1.6;
        max-width: 350px;
        margin-bottom: 35px;
    }
    &__link {
        @extend %rubik-500;
        display: inline-block;
        background-color: $gray;
        padding: 20px 100px 20px 20px;
        font-size: 15px;
        color: #fff;
        position: relative;
        transition: background-color .3s ease-in;
        outline: transparent;
        &::after {
            position: absolute;
            content: '';
            width: 22px;
            height: 9px;
            background-image: url(../images/arrow.svg);
            @extend %bg;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
        &:hover {
            background-color: $vio;
        }
        &:focus {
            outline: 1px solid $vio;
        }
    }
    &__slide {
        height: 820px;
        background-color: $orange;
        padding-top: 215px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            border-radius: 50%;
            background-image: url(../images/slide-bg.png);
            @extend %bg;
            width: 634px;
            height: 634px;
            z-index: 3;
            right: -130px;
            top: 50%;
            transform: translateY(-45%);
        }
    }
    &__bg {
        width: 640px;
        height: 264px;
        @extend %bg;
        z-index: 5;
    }
}

.services {
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 100%;
        padding: 45px 0;
        background-color: #fef7f0;
        display: flex;
        justify-content: center;
    }
    &__item:not(:last-child) {
        border-right: 1px solid #e8e4df;
    }
    &__item--small {
        max-width: 31%;
    }
    &__item--big {
        max-width: 35%;
    }
    &__item--huge {
        max-width: 34%;
    }
    &__icon {
        margin-right: 25px;
        @extend %bg;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            border-radius: 50%;
            background-color: rgba(163, 187, 200, 0.3);
            width: 20px;
            height: 20px;
        }
    }
    &__icon--support {
        width: 49px;
        height: 49px;
        background-image: url(../images/time.svg);
        &::after {
            bottom: -5px;
            right: -2px;
        }
    }
    &__icon--delivery {
        width: 49px;
        height: 29px;
        background-image: url(../images/delivery-truck.svg);
        &::after {
            bottom: -8px;
            right: -5px;
        }
    }
    &__icon--secure {
        width: 49px;
        height: 44px;
        background-image: url(../images/credit-card.svg);
        &::after {
            bottom: -7px;
            right: -8px;
        }
    }
    &__title {
        display: block;
        font-size: 18px;
        @extend %dmsans-700;
        line-height: 1;
        color: $suptitle;
        margin-bottom: 12px;
    }
    &__text {
        @extend %dmsans-400;
        color: #585858;
        line-height: 1.8;
    }
    &__text--support {
        max-width: 200px;
    }
    &__text--secure {
        max-width: 210px;
    }
}

.products {
    padding-top: 65px;
    margin-bottom: 140px;
    &__buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }
    &__item:not(:last-child) {
        margin-right: 20px;
    }
    &__btn {
        padding: 0;
        cursor: pointer;
        border: none;
        background-color: transparent;
        @extend %dmsans-700;
        color: $btn-color;
        transition: color .3s ease-in;
        outline: transparent;
        &:hover,
        &.mixitup-control-active,
        &:focus {
            color: #191919;
        }
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
    }
    &__block {
        max-width: 270px;
        min-height: 380px;
        margin-bottom: 40px;
        margin-right: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        border-radius: 10px;
        position: relative;
        &:hover .products__icons{
            opacity: 1;
        }
    }
    &__photo {
        margin-bottom: auto;
        margin-top: auto;
        display: block;
    }
    &__name {
        color: $title;
        @extend %dmsans-500;
        margin-bottom: 10px;
        display: block;
    }
    &__price {
        color: #a3bbc8;
        @extend %dmsans-700;
        margin-bottom: 31px;
    }
    &__link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        transition:  background-color .3s ease-in;
        outline: transparent;
        &:hover .products__search-svg,
        &:hover .products__corb-svg,
        &:hover .products__hart-svg{
            fill: #fff;
        }
        &:hover {
            background-color: #a3bac7;
        }
        &:focus {
            outline: 1px solid $title;
        }
    }
    &__link:not(:last-child) {
        margin-right: 15px;
    }
    &__icons {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }
    &__hart-svg,
    &__corb-svg,
    &__search-svg {
        fill: #a3bbc8;
        margin: auto;
        transition:  fill .3s ease-in;
    }
}






















@import 'media';
