.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    font-family: $Rubik;
    font-weight: $fw400;
    font-size: 16px;
    background-color: #fff;
    color: $global;
    display: flex;
    flex-direction: column;
    @include max($lg) {
        line-height: 1.5;
    }
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    &--fluid {
        max-width: 1800px;
        @include max($sm) {
            padding: 0 5px;
        }
    }
}

.logo {
    outline: transparent;
    &:active,
    &:focus {
        outline: 1px solid $vio;
    }
    &__images {
        object-fit: cover;
        @include max($sm) {
            width: 100px;
            object-fit: contain;
            height: 30px;
        }
    }
}




.title {
    font-family: $DmSans;
    font-weight: $fw700;
    text-align: center;
    font-size: 36px;
    color: $title300;
    margin-bottom: 23px;
    @include max($sm) {         
        font-size: 30px;
    }
    @include max($md) {         
        margin-bottom: 10px;
    }
    @include max($s) {         
        font-size: 26px;
    }
}