<section class="statistics">
    <h2 class="visually-hidden">Statistics</h2>
    <div class="container">
        <ul class="statistics__list">
            <li class="statistics__item">
                <span class="statistics__number statistics__number--clients">99%</span>
                <p class="statistics__text">Satisﬁed Clients Rate</p>
            </li>
            <li class="statistics__item">
                <span class="statistics__number statistics__number--products">
                    5020
                    <span>+</span>
                </span>
                <p class="statistics__text">Products Delivered</p>
            </li>
            <li class="statistics__item">
                <span class="statistics__number statistics__number--working">23hr</span>
                <p class="statistics__text">Daily Working Time</p>
            </li>
            <li class="statistics__item">
                <span class="statistics__number statistics__number--brands">
                    140
                    <span>+</span>
                </span>
                <p class="statistics__text">Brands in Store</p>
            </li>
        </ul>
    </div>
</section>