<section class="work">
    <h1 class="visually-hidden">About Us</h1>
    <div class="container">
        <div class="work__inner">
            <div class="work__photo">
                <img class="work__images" src="images/work-img.jpg" width="570" height="676" alt="A man working at a computer">
            </div>
            <div class="work__content">
                <div class="work__head">
                    <span class="work__num">12</span>
                    <span class="work__descr">Years Experience Working</span>
                </div>
                <h2 class="title work__title">Mission of our creative house</h2>
                <div class="work__text">
                    <p>
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    </p>
                </div>
                <ul class="work__list">
                    <li class="work__items">
                        <div class="work__info work__info--projects">
                            520
                            <span>+</span>
                            <span class="work__projects">Projects</span>
                        </div>
                    </li>
                    <li class="work__items">
                        <div class="work__info work__info--revenue">
                            <span>$</span>
                            4m
                            <span class="work__projects">Revenue</span>
                        </div>
                    </li>
                    <li class="work__items">
                        <div class="work__info work__info--awards">
                            250
                            <span class="work__projects">Awards</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>