<section class="address">
    <div class="container">
        <p class="address__subtitle">Write Here</p>
        <h2 class="title address__title">Get In Touch</h2>
        <address class="address__block">
            <ul class="address__list">
                <span class="visually-hidden">
                    a list in the form of cards in the main contacts
                </span>
                <li class="address__items">
                    <div class="address__icon">
                        <svg class="address__icons address__map">
                            <use xlink:href="images/sprite.svg#map"></use>
                        </svg>
                        <span class="visually-hidden">
                            map icon
                        </span>
                    </div>
                    <h3 class="address__heading">Address</h3>
                    <a class="address__link address__link--text" href="#">
                        2416 Mapleview Drive Tampa, FL 33634
                    </a>
                </li>
                <li class="address__items">
                    <div class="address__icon">
                        <svg class="address__icons address__letter">
                            <use xlink:href="images/sprite.svg#letter"></use>
                        </svg>
                        <span class="visually-hidden">
                            letter icon
                        </span>
                    </div>
                    <h3 class="address__heading">Our Email</h3>
                    <span class="address__connection">
                        Main Email: 
                        <a class="address__link" href="mailto:contact@website.com">contact@website.com</a>
                    </span>
                    <span class="address__connection">
                        Inquiries:
                        <a class="address__link" href="mailto:contact@website.com">Info@mail.com</a>
                    </span>
                </li>
                <li class="address__items">
                    <div class="address__icon">
                        <svg class="address__icons address__phone">
                            <use xlink:href="images/sprite.svg#phone"></use>
                        </svg>
                        <span class="visually-hidden">
                            phone icon
                        </span>
                    </div>
                    <h3 class="address__heading">Our Phone</h3>
                    <span class="address__connection">
                        Office Telephone:
                        <a class="address__link" href="tel:0029129102320">0029129102320</a>
                    </span>
                    <span class="address__connection">
                        Mobile:
                        <a class="address__link" href="tel:000 2324 39493">000 2324 39493</a>
                    </span>
                </li>
            </ul>
        </address>
    </div>
</section>