
$global: #436372;
$title: #243f4d;
$suptitle: #414141;
$gray: #a3bbc8;
$gray100: #585858;
$vio: #1f2044;
$text: #7b7b7b;
$orange: #fcd7b6;
$orange100: #f39747;
$btn-color: #8b8b8b;
$fff100: #edf1f4;
$gray000: #2c2c2c;
$fff200: #6c7074;
$fff300: #fef7f0;
$blue: #a3bac7;
$fff000: #feefe2;
$title300: #191919;
$bl000: #262626;
$bl100: #222933;

@mixin bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


$DmSans: 'DMSans', sans-serif;
$Rubik: 'Rubik', sans-serif;
$Poppins: 'Poppins', sans-serif;
$fw700: 700;
$fw500: 500;
$fw400: 400;

@function max($numbers...) {
@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
@return m#{i}n(#{$numbers});
}
