<h2 class="comments__title comments__title--form">Leave A Comment</h2>
<form class="form">
    <label for="name" class="visually-hidden">
        text field where you need to enter your name
    </label>
    <input class="form__input form__input--text" type="text" id="name" name="name" placeholder="Name" required>
    <label for="email" class="visually-hidden">
        text field where you need to specify your email
    </label>
    <input class="form__input form__input--email" type="email" id="email" name="email" placeholder="youremail@gmail.com" required>
    <label class="visually-hidden" for="comment">
        text field where you can leave your comment
    </label>
    <textarea class="form__input form__textarea" name="Comment" id="comment" placeholder="Comment" required></textarea>
    <button class="form__btn" type="submit">Post Comment</button>
</form>