<ul class="product-fillter">
    <li class="product-fillter__item">                                
        <button class="product-fillter__btn" type="button" data-filter="all">All</button>
    </li>
    <li class="product-fillter__item">
        <button class="product-fillter__btn" type="button" data-filter=".furnitures">Furnitures</button>
    </li>
    <li class="product-fillter__item">
        <button class="product-fillter__btn" type="button" data-filter=".chairs">Chairs</button>
    </li>
    <li class="product-fillter__item">
        <button class="product-fillter__btn" type="button" data-filter=".lighting">Lighting</button>
    </li>
    <li class="product-fillter__item">
        <button class="product-fillter__btn" type="button" data-filter=".decor">Decor</button>
    </li>
</ul>