.page-list {
    padding: 25px 0;
    background-color: $fff100;
    margin-bottom: 111px;
    &--blog-one,
    &--blog {
        margin-bottom: 116px;
    }
    &--product-detalis {
        padding: 31px 0 18px;
        margin-bottom: 118px;
    }
    &--contact {
        padding: 30px 0 18px;;
        margin-bottom: 116px;
    }
    &--login {
        padding: 30px 0px 17px;
        margin-bottom: 118px;
    }
    &__title {
        text-align: center;
        font-family: $Rubik;
        font-weight: $fw300;
        font-size: 36px;
        color: $bl100;
        line-height: 1;
        margin-bottom: 15px;
    }
    @include max($lg) {
        margin-bottom: 30px;
    }
}