.page-list {
    padding: 25px 0;
    background-color: $fff100;
    margin-bottom: 111px;
    &--blog {
        margin-bottom: 116px;
    }
    &__title {
        text-align: center;
        font-family: $Rubik;
        font-weight: $fw300;
        font-size: 36px;
        color: $bl100;
        line-height: 1;
        margin-bottom: 15px;
    }
    @include max($lg) {
        margin-bottom: 30px;
    }
}