.product-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 77px;
    &__item:not(:last-child) {
        margin-right: 30px;
        @include max($sm) {         
            margin-right: 0;
        }
    }
    &__btn {
        padding: 0;
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-family: $DmSans;
        font-weight: $fw700;
        color: $btn-color;
        transition: color .3s ease-in;
        outline: transparent;
        &:hover,
        &.mixitup-control-active,
        &:focus {
            color: #191919;
        }
    }
    @include max($lg) {         
        margin-bottom: 30px;
    }
    @include max($sm) {         
        justify-content: space-between;
    }
}

