.sidebar {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
    &__block {
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: 49px;
            @include max($lg) {
                margin-bottom: 15px;
            }
        }
    }   
    &__title {
        text-transform: uppercase;
        color: $title;
        font-size: 18px;
        font-family: $DmSans;
        font-weight: $fw700;
        position: relative;
        display: inline-block;
        margin-bottom: 25px;
        cursor: pointer;
        transition: color .2s ease-in;
        &::after {
            position: absolute;
            content: '';
            right: -50px;
            background-color: $blue;
            width: 40px;
            height: 3px;
            top: 50%;
            transform: translateY(-50%);
            margin-bottom: 25px;
        }
        @include max($lg) {
            margin-bottom: 10px;
            font-size: 17px;
            color: #fff;
        }
        &:hover {
            color: $orange100;
        }
        &:hover::after {
            background-color: $orange100;
        }
        &:active {
            color: $vio;
        }
        &:active::after {
            background-color: $vio;
        }
    }   
    &__title--active {
        color: $orange100;
        &::after {
            background-color: $orange100;
        }
    }
    &__btn {
        border: none;
        width: 100%;
        border-radius: 5px;
        background-color: #fff;
        color: $title;
        padding: 12px 20px 12px 14px;
        text-align: left;
        position: relative;
        transition: background-color .3s ease-in;
        cursor: pointer;
        outline: transparent;
        &::after {
            position: absolute;
            content: '';
            width: 5px;
            height: 10px;
            background-image: url(../images/icons/arrow-filter.svg);
            @include bg;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            background-size: contain;
        }
        &:hover {
            background-color: $fff100;
        }
        &:focus {
            background-color: $gray;
        }
        &:active {
            background-color: $orange;
        }
        @include max($lg) {
            padding: 9px 20px 9px 14px;
        }
    }
    &__price {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: $title;
        margin-bottom: 90px;
        @include max($lg) {
            margin-bottom: 30px;
            color: #fff;
        }
    }
    .irs--flat {
        height: 15px;
        margin-bottom: 20px;
    }
    .irs--flat .irs-line {
        top: 6px;
        height: 3px;
        background-color: #c2d2db;
        border-radius: 0;
    }
    .irs--flat .irs-bar {
        top: 5px;
        height: 5px;
        background-color: $gray;
    }
    .irs--flat .irs-handle {
        cursor: pointer;
        top: 0;
        width: 15px;
        height: 15px;
        background-color: $gray;
    }
    .irs--flat .irs-handle>i:first-child,
    .irs--flat .irs-min, .irs--flat .irs-max,
    .irs-from, .irs-to, .irs-single {
        display: none;
    }
    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &::after {
            display: none;
        }
        &:hover .d__number {
            color: $title;
        }
    }
    &__number {
        color: #b3b3b3;
        transition: color .3s ease-in;
    }
    &__items {
        transition: transform .3s ease-in;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        &:hover {
            transform: translateY(-4px);
        }
    }
    &__link {
        display: flex;
        
    }
    &__images {
        width: 67px;
        height: 67px;
        border: 2px solid #f7f7f7;
        display: flex;
        margin-right: 16px;
    }
    &__photo {
        margin: auto;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #333;
        padding: 3px 0;
        @include max($lg) {
            color: #fff;
        }
    }
    &__name {
        font-size: 14px;
        line-height: 1;
    }
    &__star {
        padding: 0;
    }
    &__cost {
        font-size: 15px;
    }
    @include max($lg) {
        display: none;
    }
    &--active {
        position: absolute;
        display: block;
        max-width: 100%;
        background-color: #191919;
        top: 0;
        right: 0;
        left: 0;
        margin-right: 0;
        z-index: 9999;
        padding: 10px;
    }
    &__close {
        position: absolute;
        border: none;
        padding: 0;
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        background-image: url(../images/icons/close.svg);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        display: none;
        transition: background-color .3s ease-in;
        &:hover {
            background-color: rgba(#fff, 0.5);
        }
    }
    &__close--active {
        display: block;
        cursor: pointer;
        z-index: 99999;
    }
}
