.team {
    margin-bottom: 70px;
    &__inner {
        display: flex;
        justify-content: space-between;
        @include max($xl) {
            flex-direction: column;
        }
    }
    &__content {
        max-width: 305px;
        width: 100%;
        margin-right: 10px;
        @include max($xl) {
            margin: 0 auto 15px;
            max-width: 630px;
        }
    }
    &__title {
        text-align: left;
        color: $title;
        margin-bottom: 19px;
        @include max($md) {
            margin-bottom: 5px;
        }
        @include max($sm) {
            font-size: 24px;
        }
    }
    &__text {
        color: $title;
        line-height: 1.9;
        margin-bottom: 32px;
        p {
            @include lineClamp;
            -webkit-line-clamp: 9; 
        }
        @include max($md) {
            margin-bottom: 10px;
        }
    }
    &__join {
        display: inline-block;
        border-radius: 5px;
        border-radius: 5px;
        background-color: $gray;
        color: #fff;
        font-size: 15px;
        font-family: $Poppins;
        font-weight: $fw600;
        padding: 14px 56px 14px 16px;
        position: relative;
        transition: background-color .3s ease-in;
        outline: transparent;
        &:hover {
            background-color: $title;
        }
        &:focus {
            outline: 1px solid $title;
        }
        &:active {
            background-color: $orange100;
        }
        &::after {
            position: absolute;
            content: '';
            top: 50%;
            right: 23px;
            transform: translateY(-50%);
            width: 15px;
            height: 11px;
            @include bg;
            background-image: url(../images/icons/arrow-white.svg);
        }
    }
    &__list {
        max-width: 770px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include max($xl) {
            margin: 0 auto;
        }
        @include max($md) {
            justify-content: center;
        }
    }
    &__items {
        position: relative;
        max-width: 370px;
        margin-bottom: 100px;
        @include max($lg) {
            max-width: 325px;
            margin-bottom: 80px;
        }
        @include max($md) {
            max-width: 370px;
        }
        @include max($md) {
            margin-bottom: 15px;
        }
    }
    &__images {
        object-fit: cover;
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        max-width: 325px;
        width: 100%;
        padding: 26px 23px;
        background-color: #fff;
        left: 0;
        bottom: -64px;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        @include max($lg) {
            max-width: 290px;
            padding: 20px;
            bottom: -45px;
        }
        @include max($md) {
            max-width: 255px;
            padding: 10px;
            bottom: 0px;
        }
    }
    &__name {
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 7px;
        display: block;
        @include max($s) {
            margin-bottom: 0;
        }
    }
    &__profession {
        display: block;
        color: #565872;
        line-height: 1.7;
    }
    &__socials {
        display: flex;
    }
    &__item:not(:last-child) {
        margin-right: 5px;
    }
    &__link {
        display: block;
        width: 40px;
        height: 40px;
        background-color: $fff00;
        display: flex;
        outline: transparent;
        transition: background-color .2s ease-in;
        &:hover {
            background-color: $global;
        }
        &:hover .team__instagram,
        &:hover .team__google {
            fill: $fff00;
        }
        &:focus {
            background-color: $orange;
        }
    }
    &__google,
    &__instagram {
        margin: auto;
        fill: #888;
        transition: fill .2s ease-in;
    }
    &__instagram {
        width: 17px;
        height: 17px;
    }
    &__google {
        width: 23px;
        height: 14px;
    }
    @include max($lg) {
        margin-bottom: 30px;
    }
}
