<section class="card-detalis">
    <h2></h2>
    <div class="container">
        <div class="card-detalis__wrapper">
            <div class="card-detalis__inner">
                <ul class="card-detalis__small-slider">
                    <li class="card-detalis__small-item">
                        <img class="card-detalis__small" src="images/small-1.png" alt="images lamp" width="107" height="147">
                    </li>
                    <li class="card-detalis__small-item">
                        <img class="card-detalis__small card-detalis__small--bottom" src="images/small-2.png" alt="images lamp" width="105" height="119">
                    </li>
                    <li class="card-detalis__small-item card-detalis__small-item--last">
                        <img class="card-detalis__small" src="images/small-3.png" alt="images lamp" width="77" height="155">
                    </li>
                </ul>
                <ul class="card-detalis__big-slider">
                    <li class="card-detalis__big-item">
                        <img class="card-detalis__big" src="images/card-1.png" alt="images lamp">
                    </li>
                    <li class="card-detalis__big-item">
                        <img class="card-detalis__big" src="images/card-1.png" alt="images lamp">
                    </li>
                    <li class="card-detalis__big-item">
                        <img class="card-detalis__big" src="images/card-1.png" alt="images lamp">
                    </li>
                </ul>
            </div>

            <article class="product-card card-detalis__product-card">
                <div class="product-card__content">
                    <h3 class="product-card__name">Pendant lamp</h3>
                    <div class="sidebar__star" data-rateyo-rating="4"></div>
                        <span class="product-card__price--line">
                            23
                            <span>$</span>
                        </span>
                    <div class="product-card__text">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                        </p>
                    </div>
                    <label class="visually-hidden" for="number">
                        a text box where you can select the quantity of goods
                    </label>
                    <input class="card-detalis__number" type="number" name="number" id="number" value="1" min="1" max="11">
                    <button class="card-detalis__btn" type="button">Add to cart</button>
                    <ul class="card-detalis__list">
                        <li class="card-detalis__item">
                            <span class="card-detalis__heading">SKU:</span>
                            <span class="card-detalis__number">014</span>
                        </li>
                        <li class="card-detalis__item">
                            <span class="card-detalis__heading">Category:</span>
                            <a class="card-detalis__link" href="#">Lights</a>
                        </li>
                        <li class="card-detalis__item">
                            <span class="card-detalis__heading">Tag:</span>
                            <a class="card-detalis__link" href="#">Decorative</a>
                        </li>
                    </ul>
                </div>
            </article>
            
        </div>
    </div>
</section>
