<section class="card-slider">
    <div class="container">
        <h2 class="title card-slider__title">Related products</h2>
        <div class="card-slider__list">
            <div class="card-slider__item">
                    <article class="product-card">
                            <img class="product-card__photo" src="images/products-1.png" alt="photo Wooden radio" width="186" height="195">
                            <h3 class="product-card__name">Wooden radio</h3>
                            <span class="product-card__price">
                                <span>$</span>
                                29.00
                            </span>
                            <div class="product-card__icons">
                                <a class="btn-circle product-card__link" href="#">
                                    <svg class="product-card__search">
                                        <use xlink:href="images/sprite.svg#search"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        the search icon when you click on it will be a detailed description of the product
                                    </span>
                                </a>
                                <button class="btn-circle product-card__link" type="button">
                                    <svg class="product-card__corb">
                                        <use xlink:href="images/sprite.svg#corb"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        the shopping cart icon that will be added to the shopping cart when you click on it
                                    </span>
                                </button>
                                <button class="btn-circle product-card__link" type="button">
                                    <svg class="product-card__heart">
                                        <use xlink:href="images/sprite.svg#heart"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        heart icon that will add the product to the list of your favorite products when you click on it
                                    </span>
                                </button>
                            </div>
                            <a class="product-card__links" href="#">
                                <span class="visually-hidden">
                                    a link that leads to another page, where there will be detailed information about the product        
                                </span> 
                            </a>
                    </article>
            </div>
    
            <div class="card-slider__item">
                <article class="product-card">
                        <img class="product-card__photo" src="images/products-2.png" alt="photo Wooden radio" width="148" height="206">
                        <h3 class="product-card__name">Wooden chair</h3>
                        <span class="product-card__price">
                            <span>$</span>
                            29.00
                        </span>
                        <div class="product-card__icons">
                            <a class="btn-circle product-card__link" href="#">
                                <svg class="product-card__search">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the search icon when you click on it will be a detailed description of the product
                                </span>
                            </a>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__corb">
                                    <use xlink:href="images/sprite.svg#corb"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the shopping cart icon that will be added to the shopping cart when you click on it
                                </span>
                            </button>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__heart">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    heart icon that will add the product to the list of your favorite products when you click on it
                                </span>
                            </button>
                        </div>
                        <a class="product-card__links" href="#">
                            <span class="visually-hidden">
                                a link that leads to another page, where there will be detailed information about the product        
                            </span> 
                        </a>
                </article>
            </div>

            <div class="card-slider__item">
                    <article class="product-card">
                        <img class="product-card__photo" src="images/products-3.png" alt="photo Wooden radio" width="208" height="164">
                            <h3 class="product-card__name">White chair</h3>
                            <span class="product-card__price">
                                <span>$</span>
                                29.00
                            </span>
                        <div class="product-card__icons">
                            <a class="btn-circle product-card__link" href="#">
                                <svg class="product-card__search">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the search icon when you click on it will be a detailed description of the product
                                </span>
                            </a>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__corb">
                                    <use xlink:href="images/sprite.svg#corb"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the shopping cart icon that will be added to the shopping cart when you click on it
                                </span>
                            </button>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__heart">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    heart icon that will add the product to the list of your favorite products when you click on it
                                </span>
                            </button>
                        </div>
                        <a class="product-card__links" href="#">
                            <span class="visually-hidden">
                                a link that leads to another page, where there will be detailed information about the product        
                            </span> 
                        </a>
                    </article>
            </div>
        
            <div class="card-slider__item">
                    <article class="product-card">
                        <img class="product-card__photo" src="images/products-4.png" alt="photo Wooden radio" width="224" height="135">
                        <h3 class="product-card__name">Retro table</h3>
                        <span class="product-card__price">
                            <span>$</span>
                            29.00
                        </span>
                        <div class="product-card__icons">
                            <a class="btn-circle product-card__link" href="#">
                                <svg class="product-card__search">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the search icon when you click on it will be a detailed description of the product
                                </span>
                            </a>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__corb">
                                    <use xlink:href="images/sprite.svg#corb"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the shopping cart icon that will be added to the shopping cart when you click on it
                                </span>
                            </button>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__heart">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    heart icon that will add the product to the list of your favorite products when you click on it
                                </span>
                            </button>
                        </div>
                        <a class="product-card__links" href="#">
                            <span class="visually-hidden">
                                a link that leads to another page, where there will be detailed information about the product        
                            </span> 
                        </a>
                    </article>
            </div>
    
            <div class="card-slider__item">
                    <article class="product-card">
                        <img class="product-card__photo" src="images/products-2.png" alt="photo Wooden radio" width="148" height="206">
                        <h3 class="product-card__name">Wooden chair</h3>
                        <span class="product-card__price">
                            <span>$</span>
                            29.00
                        </span>
                        <div class="product-card__icons">
                            <a class="btn-circle product-card__link" href="#">
                                <svg class="product-card__search">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the search icon when you click on it will be a detailed description of the product
                                </span>
                            </a>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__corb">
                                    <use xlink:href="images/sprite.svg#corb"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the shopping cart icon that will be added to the shopping cart when you click on it
                                </span>
                            </button>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__heart">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    heart icon that will add the product to the list of your favorite products when you click on it
                                </span>
                            </button>
                        </div>
                        <a class="product-card__links" href="#">
                            <span class="visually-hidden">
                                a link that leads to another page, where there will be detailed information about the product        
                            </span> 
                        </a>
                    </article>
            </div> 
            <div class="card-slider__item">
                    <article class="product-card">
                        <img class="product-card__photo" src="images/products-4.png" alt="photo Wooden radio" width="224" height="135">
                        <h3 class="product-card__name">Retro table</h3>
                        <span class="product-card__price">
                            <span>$</span>
                            29.00
                        </span>
                        <div class="product-card__icons">
                            <a class="btn-circle product-card__link" href="#">
                                <svg class="product-card__search">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the search icon when you click on it will be a detailed description of the product
                                </span>
                            </a>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__corb">
                                    <use xlink:href="images/sprite.svg#corb"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the shopping cart icon that will be added to the shopping cart when you click on it
                                </span>
                            </button>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__heart">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    heart icon that will add the product to the list of your favorite products when you click on it
                                </span>
                            </button>
                        </div>
                        <a class="product-card__links" href="#">
                            <span class="visually-hidden">
                                a link that leads to another page, where there will be detailed information about the product        
                            </span> 
                        </a>
                    </article>
            </div>
    
            <div class="card-slider__item">
                    <article class="product-card">
                        <img class="product-card__photo" src="images/products-2.png" alt="photo Wooden radio" width="148" height="206">
                        <h3 class="product-card__name">Wooden chair</h3>
                        <span class="product-card__price">
                            <span>$</span>
                            29.00
                        </span>
                        <div class="product-card__icons">
                            <a class="btn-circle product-card__link" href="#">
                                <svg class="product-card__search">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the search icon when you click on it will be a detailed description of the product
                                </span>
                            </a>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__corb">
                                    <use xlink:href="images/sprite.svg#corb"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the shopping cart icon that will be added to the shopping cart when you click on it
                                </span>
                            </button>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__heart">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    heart icon that will add the product to the list of your favorite products when you click on it
                                </span>
                            </button>
                        </div>
                        <a class="product-card__links" href="#">
                            <span class="visually-hidden">
                                a link that leads to another page, where there will be detailed information about the product        
                            </span> 
                        </a>
                    </article>
            </div> 
            <div class="card-slider__item">
                    <article class="product-card">
                        <img class="product-card__photo" src="images/products-4.png" alt="photo Wooden radio" width="224" height="135">
                        <h3 class="product-card__name">Retro table</h3>
                        <span class="product-card__price">
                            <span>$</span>
                            29.00
                        </span>
                        <div class="product-card__icons">
                            <a class="btn-circle product-card__link" href="#">
                                <svg class="product-card__search">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the search icon when you click on it will be a detailed description of the product
                                </span>
                            </a>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__corb">
                                    <use xlink:href="images/sprite.svg#corb"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the shopping cart icon that will be added to the shopping cart when you click on it
                                </span>
                            </button>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__heart">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    heart icon that will add the product to the list of your favorite products when you click on it
                                </span>
                            </button>
                        </div>
                        <a class="product-card__links" href="#">
                            <span class="visually-hidden">
                                a link that leads to another page, where there will be detailed information about the product        
                            </span> 
                        </a>
                    </article>
            </div>
    
            <div class="card-slider__item">
                    <article class="product-card">
                        <img class="product-card__photo" src="images/products-2.png" alt="photo Wooden radio" width="148" height="206">
                        <h3 class="product-card__name">Wooden chair</h3>
                        <span class="product-card__price">
                            <span>$</span>
                            29.00
                        </span>
                        <div class="product-card__icons">
                            <a class="btn-circle product-card__link" href="#">
                                <svg class="product-card__search">
                                    <use xlink:href="images/sprite.svg#search"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the search icon when you click on it will be a detailed description of the product
                                </span>
                            </a>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__corb">
                                    <use xlink:href="images/sprite.svg#corb"></use>
                                </svg>
                                <span class="visually-hidden">
                                    the shopping cart icon that will be added to the shopping cart when you click on it
                                </span>
                            </button>
                            <button class="btn-circle product-card__link" type="button">
                                <svg class="product-card__heart">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    heart icon that will add the product to the list of your favorite products when you click on it
                                </span>
                            </button>
                        </div>
                        <a class="product-card__links" href="#">
                            <span class="visually-hidden">
                                a link that leads to another page, where there will be detailed information about the product        
                            </span> 
                        </a>
                    </article>
            </div> 
        </div>
    </div>
</section>