<div class="tabs">
    <div class="container">
        <ul class="tabs__list">
            <li class="tabs__item">
                <a class="tabs__link tabs__link--active" href="#" data-link="#one">Description</a>
            </li>
            <li class="tabs__item">
                <a class="tabs__link" href="#" data-link="#two">Additional information</a>
            </li>
            <li class="tabs__item">
                <a class="tabs__link" href="#" data-link="#three">Reviews (2)</a>
            </li>
        </ul>

        <div class="tabs__inner">
            <div class="tabs__text tabs__text--active" id="one">
                <p>
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="tabs__text" id="two">
                <p>
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="tabs__text" id="three">
                <p>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</div>