.article-card {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    &__info {
        padding: 31px 30px 25px;
        background-color: #fff;
        position: relative;
        height: 100%;
    }
    &__title {
        font-size: 18px;
        line-height: 1.2;
        font-family: $DmSans;
        font-weight: $fw500;
        color: $bl000;
        @include lineClamp;
        -webkit-line-clamp: 3;
        margin-bottom: 15px;
    }
    &__title--min {
        margin-bottom: 36px;
        -webkit-line-clamp: 2;
    }
    &__publication {
        padding-top: 20px;
        border-top: 1px solid #e0e0e0;
        text-transform: uppercase;
        font-size: 12px;
        color: $bl100;
        display: flex;
        align-items: center;
    }
    &__author,
    &__time {
        position: relative;
        padding-left: 15px;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            @include bg;
            background-size: contain;
            width: 12px;
            height: 10px;
        }
    }
    &__time {
        margin-right: 25px;
        &::before {
            background-image: url(../images/icons/calendar.svg);
        }
    }
    &__author {
        &::before {
            background-image: url(../images/icons/date.svg);
        }
    }
    &__news {
        text-transform: uppercase;
        position: absolute;
        top: -16px;
        left: 30px;
        color: #fff;
        font-size: 14px;
        line-height: 1.4;
        background-color: $gray;
        padding: 6px 30px;
        border-radius: 25px;
        font-family: $Poppins;
        font-weight: $fw700;
    }
    &__images {
        transition: transform .3s ease-in;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__link {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}