.article-card {
    &__info {
        padding: 35px 30px 25px;
        background-color: #fff;
        position: relative;
    }
    &__link {
        margin-bottom: 15px;
        display: flex;
        font-size: 18px;
        font-family: $DmSans;
        font-weight: $fw500;
        color: $bl000;
        outline: transparent;
        transition: color .3s ease-in;
        &:hover,
        &:focus {
            color: $orange100;
        }
        &:active {
            color: $bl000;
        }
    }
    &__publication {
        border-top: 1px solid #e0e0e0;
        padding-top: 20px;
        text-transform: uppercase;
        font-size: 12px;
        color: $bl100;
        display: flex;
        margin-top: auto;
    }
    &__date {
        margin-right: 25px;
        display: flex;
        align-items: center;
    }
    &__author {
        display: flex;
        align-items: center;
    }
    &__user,
    &__calendar {
        width: 10px;
        height: 10px;
        fill: $bl100;
        margin-right: 5px;
    }
    &__news {
        text-transform: uppercase;
        position: absolute;
        top: -16px;
        left: 30px;
        color: #fff;
        font-size: 14px;
        line-height: 1.4;
        background-color: $gray;
        padding: 6px 30px;
        border-radius: 25px;
        font-family: $Poppins;
        font-weight: $fw700;
    }
}