
.cards {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    &__card {
        max-width: 49%;
        width: 100%;
        background-color: $fff000;
        padding: 100px 0 100px 135px;
        display: flex;
    }
    &__photo--big {
        width: 233px;
        height: 405px;
        margin: -200px 15px 0 0;

    }
    &__photo--small {
        width: 222px;
        height: 399px;
        margin: -200px 55px 0 0;
    }
    &__info {
        max-width: 346px;
        color: $title;
    }
    &__title {
        font-size: 26px;
        line-height: 1.2;
        font-family: $DmSans;
        font-weight: $fw700;
        margin-bottom: 25px;
        display: block;
    }
    &__text {
        line-height: 1.8;
        margin-bottom: 20px;
    }
    &__link {
        display: inline-block;
        font-family: $Rubik;
        font-weight: $fw500;
        font-size: 15px;
        padding: 20px 15px;
        border: 1px solid rgba(67, 99, 114, 0.4);
        border-radius: 5px;
        outline: transparent;
        background-color: transparent;
        transition: background-color .3s ease-in;
        &:hover,
        &:focus {
            background-color: $btn-color;
        }
        &:active {
            background-color: $vio;
        }
    }
    &__more {
        margin-right: 40px;
        display: inline-block;
    }
    &__arrow {
        fill: $global;
        width: 22px;
        height: 9px;
    }
}

