.desing {
    margin-bottom: 83px;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
        @include max($xl) {         
            margin-right: 0;
            justify-content: center;
        }
    }
    &__block {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        max-width: 370px;
        height: 246px;
        width: 100%;
        margin: 0 30px 35px 0;
        padding-bottom: 40px;
        background-color: $fff400;
        overflow: hidden;
        transition: background-color .3s ease-in;
        &:hover {
            background-color: $orange;
        }
        @include max($xl) {         
            margin: 15px;
        }
        @include max($sm) {         
            margin: 10px 0;
        }
    }
    &__info {
        position: absolute;
        max-width: 172px;
        top: 35px;
        left: 38px;
        font-family: $DmSans;
        font-weight: $fw700;
        @include max($sm) {         
            top: 10px;
            left: 10px;
        }
    }
    &__product-1 {
        margin-right: -75px;
    }
    &__product-2 {
        margin-right: -40px;
    }
    &__product-3 {
        margin-right: 52px;
    }
    &__product-4 {
        margin-right: -40px;
    }
    &__product-5 {
        margin-right: 30px;
    }
    &__product-6 {
        margin-right: -145px;
    }
    &__title {
        font-size: 20px;
        color: $title300;
        margin-bottom: 10px;
        @include lineClamp;
        -webkit-line-clamp: 2;
        @include max($sm) {         
            margin-bottom: 0;
        }
        
    }
    &__classic {
        color: $gray;
    }
    &--hidden {
        overflow: hidden;
        @include max($xl) {         
            overflow: visible;
        }
    }
    @include max($xl) {         
        margin-bottom: 30px;
    }
}

// @import './components/product-fillter';