
.lamp-cards {
    margin-bottom: 94px;
    display: flex;
    justify-content: space-between;
    &__card {
        max-width: 49%;
        width: 100%;
        background-color: $fff000;
        padding: 90px 0 82px;
        display: flex;
        justify-content: center;
        @include max($xl) {         
            flex-direction: column;
            align-items: center;
            padding: 90px 10px 82px;
        }
        @include max($lg) {         
            padding-bottom: 30px;
            position: relative;
            padding-top: 50px;
        }
        @include max($md) {         
            max-width: 100%;
            align-items: start;
        }
        @include max($s) {         
            padding-left: 5px;
            padding-right: 5px;
        }
        &:not(:last-child) {
            @include max($md) {         
                margin-bottom: 15px;
            }
        }
    }
    &__photo--big {
        width: 233px;
        height: 405px;
        margin: -186px 3px 0 0;
        @include max($lg) {         
            width: 190px;
            height: 340px;
        }
    }
    &__photo--small {
        width: 222px;
        height: 340px;
        margin: -181px 55px 0 45px;
        @include max($xl) {         
            margin: -181px 0 0 0;
        }
        @include max($lg) {         
            width: 180px;
            height: 296px;
        }
    }
    &__photo {
        @include max($xl) {         
            margin-bottom: 15px;
        }
        @include max($lg) {         
            position: absolute;
            bottom: 5px;
            right: 5px;
            width: 43%;
            height: 86%;
            margin: 0;
        }
        @include max($md) {         
            bottom: 20px;
            right: 40px;
            width: 22%;
            height: 81%;
        }
        @include max($sm) {         
            bottom: 20px;
            right: 21px;
            width: 26%;
            height: 79%;
        }
        @include max($s) {         
            width: 36%;
            height: 79%;
        }
    }
    &__info {
        max-width: 340px;
        color: $title;
        @include max($lg) {         
            background-color: rgba(#fff, 0.8);
            padding: 10px;
            position: relative;
            z-index: 3;
        }
        @include max($s) {         
            padding: 5px;
        }
    }
    &__subtitle {
        font-family: $DmSans;
        font-weight: $fw700;
        margin-bottom: 25px;
        display: block;
        @include lineClamp;
        font-size: 26px;
        -webkit-line-clamp: 2;
        line-height: 1.2;
        @include max($md) {         
            margin-bottom: 0;
        }
    }
    &__text {
        p {
            @include lineClamp;
            -webkit-line-clamp: 3;
        }
        line-height: 1.8;
        margin-bottom: 20px;
        hyphens: auto;
        @include max($md) {         
            margin-bottom: 10px;
        }
    }
    &__link {
        display: inline-block;
        font-family: $Rubik;
        font-weight: $fw500;
        font-size: 15px;
        padding: 19px 21px;
        border: 1px solid rgba(67, 99, 114, 0.4);
        border-radius: 5px;
        outline: transparent;
        background-color: transparent;
        transition: background-color .3s ease-in;
        &:hover,
        &:focus {
            background-color: #fff;
        }
        &:active {
            background-color: $vio;
            color: #fff;
        }
        @include max($md) {         
            padding: 9px 10px;

        }
    }
    &__more {
        margin-right: 40px;
        display: inline-block;
        @include max($md) {         
            margin-right: 10px;
        }
    }
    &__arrow {
        fill: $global;
        width: 22px;
        height: 9px;
    }
    @include max($xl) {         
        margin-bottom: 30px;
    }
    @include max($md) {         
        flex-direction: column;
    }
}

