.partners {
    background-color: $fff300;
    padding: 268px 0 82px;
}

.partners-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 0 85px 0 50px;
}