.popup {
    position: relative;
    display: block;
    height: 500px;
    @include bg;
    margin-bottom: 110px;
    &:hover .popup__btn{
        background-color: rgba($gray, 0.9);
    }
    &:hover .popup__play{
        fill: $orange;
    }
    &__btn {
        position: absolute;
        display: flex;
        width: 98px;
        height: 98px;
        border: none;
        border-radius: 50%;
        background-color: $gray;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        box-shadow: 0px 0px 0px 13px rgba(163, 187, 200, 0.4);
        transition: background-color .3s ease-in;
        outline: transparent;
        &:focus {
            background-color: $gray000;
            box-shadow: none;
        }
        &:active {
            box-shadow: none;
        }
        @include max($md) {
            height: 74px;
            width: 74px;
            box-shadow: 0px 0px 0px 8px rgba(163, 187, 200, 0.4);
        }
    }
    &__play {
        margin: auto;
        fill: #fff;
        outline: transparent;
        width: 22px;
        height: 25px;
        cursor: pointer;
        &:focus {
            background-color: $gray000;
        }
    }
    @include max($xl) {
        margin-bottom: 50px;
    }
    @include max($lg) {
        height: 350px;
    }
    @include max($md) {
        height: 250px;
        margin-bottom: 30px;
    }
}