.products-slider {
    .slick-dots {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        bottom: 45px;
        li {
            &:not(:last-child) {
                margin-right: 10px;
            }
            button {
                font-family: $Rubik;
                font-weight: $fw500;
                color: $title;
                padding: 0;
                cursor: pointer;
                font-size: 11px;
                border-radius: 50%;
                border: none;
                width: 30px;
                height: 30px;
                background-color: rgba(255, 255, 255, 0.3);
                outline: transparent;
                &:active,
                &:focus {
                    outline: 1px solid $vio;
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }
    
    & .slick-dots li.slick-active button {
        background-color: rgb(255, 255, 255);
    }
    &__name {
        font-family: $Rubik;
        font-weight: $fw500;
        color: $title;
        font-size: 72px;
        line-height: 1;
        text-transform: uppercase;
        max-width: 445px;
        margin-bottom: 35px;
        @include lineClamp;
        -webkit-line-clamp: 2;
    }
    &__text {
        font-size: 18px;
        line-height: 1.6;
        max-width: 350px;
        margin-bottom: 35px;
        @include lineClamp;
        -webkit-line-clamp: 2;

    }
    &__link {
        font-family: $Rubik;
        font-weight: $fw500;
        display: inline-block;
        background-color: $gray;
        padding: 20px 100px 20px 20px;
        font-size: 15px;
        color: #fff;
        position: relative;
        transition: background-color .3s ease-in;
        outline: transparent;
        &::after {
            position: absolute;
            content: '';
            width: 22px;
            height: 9px;
            background-image: url(../images/icons/arrow.svg);
            @include bg;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
        &:hover {
            background-color: $vio;
        }
        &:active,
        &:focus {
            outline: 1px solid $vio;
        }
    }
    &__slide {
        background-color: $orange;
    }
    &__inner {
        height: 820px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            border-radius: 50%;
            background-image: url(../images/slide-bg.png);
            @include bg;
            width: 634px;
            height: 634px;
            z-index: 3;
            right: -130px;
            top: 50%;
            transform: translateY(-45%);
        }
    }
    &__photo {
        z-index: 5;
    }
}