<div class="article-author">
    <div class="article-author__left">
        <img class="article-author__images" src="images/author.jpg" alt="author" width="71" height="71">
        <div class="article-author__info">
            <span class="article-author__name">Mark N. Hernandez</span>
            <span class="article-author__place">Designer</span>
        </div>
    </div>
    <div class="article-author__right">
        <div class="article-author__box article-author__box--tags">
            <span class="article-author__subtitle">Tags:</span>
            <ul class="article-author__list">
                <li class="article-author__item">
                    <a class="article-author__link" href="#">All,</a>
                </li>
                <li class="article-author__item">
                    <a class="article-author__link" href="#">Trending</a>
                </li>
            </ul>
        </div>
        <div class="article-author__box">
            <span class="article-author__subtitle">Share:</span>
            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon social__facebok">
                            <use xlink:href="images/sprite.svg#facebok"></use>
                        </svg>
                        <span class="visually-hidden">
                            you can share this article on facebook
                        </span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon social__twitter">
                            <use xlink:href="images/sprite.svg#twitter"></use>
                        </svg>
                        <span class="visually-hidden">
                            you can share this article on twitter
                        </span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon social__insta">
                            <use xlink:href="images/sprite.svg#insta"></use>
                        </svg>
                        <span class="visually-hidden">
                            you can share this article on instagram
                        </span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon social__google">
                            <use xlink:href="images/sprite.svg#google"></use>
                        </svg>
                        <span class="visually-hidden">
                            you can share this article on google
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>