<section class="articles">
    <article class="article">
        <div class="article__photo">
            <img class="article__img" src="images/article-blog-1.jpg" width="830" height="501" alt="pictures of interior">
            <div class="publication article__publication">
                <time class="publication__time article__time" datetime="28.01.2020">28 January, 2020</time>
                <span class="publication__author article__author">
                    By admin
                </span>
            </div>
        </div>
        <h2 class="article__title">Fonsectetur adipisicing  eiusmod</h2>
        <div class="article__text">
            <p>
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            </p>
        </div>
        <a class="link article__link" href="#">View More</a>
    </article>

    <article class="article">
        <div class="article__photo">
            <img class="article__img" src="images/article-blog-2.jpg" width="830" height="501" alt="pictures of interior">
            <div class="publication article__publication">
                <time class="publication__time article__time" datetime="28.01.2020">28 January, 2020</time>
                <span class="publication__author article__author">
                    By admin
                </span>
            </div>
        </div>
        <h2 class="article__title">Fonsectetur adipisicing elit,</h2>
        <div class="article__text">
            <p>
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            </p>
        </div>
        <a class="link article__link" href="#">View More</a>
    </article>

    <article class="article">
        <div class="article__photo">
            <img class="article__img" src="images/article-blog-3.jpg" width="830" height="501" alt="pictures of interior">
            <div class="publication article__publication">
                <time class="publication__time article__time" datetime="28.01.2020">28 January, 2020</time>
                <span class="publication__author article__author">
                    By admin
                </span>
            </div>
        </div>
        <h2 class="article__title">Fsectetur adipisicing tempor incididunt</h2>
        <div class="article__text">
            <p>
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            </p>
        </div>
        <a class="link article__link" href="#">View More</a>
    </article>

    <article class="article">
        <div class="article__photo">
            <img class="article__img" src="images/article-blog-4.jpg" width="830" height="501" alt="pictures of interior">
            <div class="publication article__publication">
                <time class="publication__time article__time" datetime="28.01.2020">28 January, 2020</time>
                <span class="publication__author article__author">
                    By admin
                </span>
            </div>
        </div>
        <h2 class="article__title">vonsectetur adipisicing elit</h2>
        <div class="article__text">
            <p>
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            </p>
        </div>
        <a class="link article__link" href="#">View More</a>
    </article>

    <ul class="pagination articles__pagination">
        <li class="pagination__item">
            <span class="pagination__link pagination__link--active">1</span>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">2</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">3</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">Next</a>
        </li>
    </ul>

</section>