<section class="comments">
    <h2 class="comments__title">
        <span>3</span>
        Comments</h2>
    <ul class="comments__list">
        <li class="comments__item">
            <img class="comments__images" src="images/comments-1.jpg" alt="author comments" width="100" height="100">
            <div class="comments__content">
                <div class="comments__head">
                    <span class="comments__name">Delores G. Roberts</span>
                    <time class="comments__date" datetime="11.11.2020">Add 11 Oct 2020</time>
                </div>
                <div class="comments__text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse orci sem, ultrices 
                    </p>
                </div>
                <a class="comments__link" href="#">
                    Reply
                    <svg class="comments__arrow">
                        <use xlink:href="images/sprite.svg#arrow-big"></use>
                    </svg>
                    <span class="visually-hidden">
                        when you click on the link, you can see the full comment
                    </span>
                </a>
            </div>
        </li>
        <li class="comments__item">
            <img class="comments__images" src="images/comments-2.jpg" alt="author comments" width="100" height="100">
            <div class="comments__content">
                <div class="comments__head">
                    <span class="comments__name">Shannon S. Williams</span>
                    <time class="comments__date" datetime="11.11.2020">Add 11 Oct 2020</time>
                </div>
                <div class="comments__text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra
                    </p>
                </div>
                <a class="comments__link" href="#">
                    Reply
                    <svg class="comments__arrow">
                        <use xlink:href="images/sprite.svg#arrow-big"></use>
                    </svg>
                    <span class="visually-hidden">
                        when you click on the link, you can see the full comment
                    </span>
                </a>
            </div>
        </li>
        <li class="comments__item">
            <img class="comments__images" src="images/comments-3.jpg" alt="author comments" width="100" height="100">
            <div class="comments__content">
                <div class="comments__head">
                    <span class="comments__name">Nicholas R. Coley</span>
                    <time class="comments__date" datetime="11.11.2020">Add 11 Oct 2020</time>
                </div>
                <div class="comments__text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse orci sem, 
                    </p>
                </div>
                <a class="comments__link" href="#">
                    Reply
                    <svg class="comments__arrow">
                        <use xlink:href="images/sprite.svg#arrow-big"></use>
                    </svg>
                    <span class="visually-hidden">
                        when you click on the link, you can see the full comment
                    </span>
                </a>
            </div>
        </li>
    </ul>
</section>