<header class="header">
    <h1 class="visually-hidden">online sofa store</h1>
    <div class="container container--fluid">
        <nav class="header__inner">
            <a class="logo header__logo" href="#">
                <img class="logo__images" src="images/logo.png" alt="Logo" width="146" height="39">
            </a>
                <ul class="menu">
                    <li class="menu__item">                                                  
                        <a class="menu__link" href="#">Home<span>+</span></a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">About</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Services</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Pages<span>+</span></a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">News</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Contact</a>
                    </li>
                </ul>
            <div class="user-nav">
                <button class="user-nav__search" type="button">
                    <svg class="user-nav__search-svg">
                        <use xlink:href="images/sprite.svg#search"></use>
                    </svg>
                    <span class="visually-hidden">when you click on this icon, a site search field opens</span>
                </button>
                <a class="user-nav__icons user-nav__icons-heart" href="#">
                    <svg class="user-nav__heart">
                        <use xlink:href="images/sprite.svg#heart"></use>
                    </svg>
                    <span class="user-nav__heart-num">0</span>
                    <span class="visually-hidden">
                        clicking on this icon will take you to the product page
                    </span>
                </a>
                <a class="user-nav__icons user-nav__icons-corb" href="#">
                    <svg class="user-nav__corb">
                        <use xlink:href="images/sprite.svg#corb"></use>
                    </svg>
                    <span class="user-nav__corb-num">0</span>
                    <span class="visually-hidden">
                        clicking on this icon, you will be taken to another page with products in the basket
                    </span>
                </a>
                <button class="user-nav__burger-menu" type="button">
                    <svg class="user-nav__menu">
                        <use xlink:href="images/sprite.svg#menu"></use>
                    </svg>
                    <span class="visually-hidden">when you click on this icon, the user profile will open</span>
                </button>
            </div>
            <button class="menu-btn" type="button">
                <span class="menu-btn__item"></span>
                <span class="menu-btn__item"></span>
                <span class="menu-btn__item"></span>
            </button>
        </nav>
    </div>
</header>