<section class="insights">
    <div class="container">
        <div class="insights__inner">

            <div class="insights__head">
                <h2 class="title insights__title">Our Insights & Articles</h2> 
                <a class="insights__link" href="#">
                    <span class="insights__view">View All</span>
                    <svg class="insights__icon">
                        <use xlink:href="images/sprite.svg#arrow-right"></use>
                    </svg>
                    <span class="visually-hidden">
                        when you click on the icon, you can view all the articles
                    </span>
                </a>
            </div>
            <ul class="insights__list">
                <li class="insights__item">
                    <article class="article-card">
                        <img class="article-card__images" src="images/article-1.jpg" alt="apartment decor" width="370" height="250">
                        <div class="article-card__info">
                            <h3 class="article-card__title">
                                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </h3>
                            <div class="publication article-card__publication">
                                <time class="publication__time" datetime="28.01.2020">28 January, 2020</time>
                                <span class="publication__author">
                                        By admin
                                </span>
                            </div>
                            <span class="article-card__news">News</span>
                        </div>
                        <a class="article-card__link" href="#">
                            <span class="visually-hidden">
                                a link that leads to another page, where there will be detailed information about the product        
                            </span>
                        </a>
                    </article>
                </li>
                <li class="insights__item">
                    <article class="article-card">
                        <img class="article-card__images" src="images/article-2.jpg" alt="apartment decor" width="370" height="250">
                        <div class="article-card__info">
                            <h3 class="article-card__title">
                                Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
                            </h3>
                            <div class="publication article-card__publication">
                                <time class="publication__time" datetime="28.01.2020">28 January, 2020</time>
                                <span class="publication__author">
                                        By admin
                                    </span>
                            </div>
                            <span class="article-card__news">News</span>
                        </div>
                        <a class="article-card__link" href="#">
                            <span class="visually-hidden">
                                a link that leads to another page, where there will be detailed information about the product        
                            </span>
                        </a>
                    </article>
                </li>
                <li class="insights__item">
                    <article class="article-card">
                        <img class="article-card__images" src="images/article-3.jpg" alt="apartment decor" width="370" height="250">
                        <div class="article-card__info">
                            <h3 class="article-card__title article-card__title--min">
                                Rncididunt ut labore et dolore magna aliqua. Ut enim 
                            </h3>
                            <div class="publication article-card__publication">
                                <time class="publication__time article-card__time" datetime="28.01.2020">28 January, 2020</time>
                                <span class="publication__author article-card__author">
                                        By admin
                                    </span>
                            </div>
                            <span class="article-card__news">News</span>
                        </div>
                        <a class="article-card__link" href="#">
                            <span class="visually-hidden">
                                a link that leads to another page, where there will be detailed information about the product        
                            </span>
                        </a>
                    </article>
                </li>
            </ul>
        </div>
    </div>


    <div class="partners">
        <div class="container">
            <ul class="partners-slider">
                <li class="partners-slider__slide">
                    <a class="partners-slider__link" href="#">
                        <img class="partners-slider__images" src="images/logo-slide-1.png" alt="peterson">
                    </a>
                </li>
                <li class="partners-slider__slide">
                    <a class="partners-slider__link" href="#">
                        <img class="partners-slider__images" src="images/logo-slide-2.png" alt="kmn colsalting">
                    </a>
                </li>
                <li class="partners-slider__slide">
                    <a class="partners-slider__link" href="#">
                        <img class="partners-slider__images" src="images/logo-slide-3.png" alt="chainforce">
                    </a>
                </li>
                <li class="partners-slider__slide">
                    <a class="partners-slider__link" href="#">
                        <img class="partners-slider__images" src="images/logo-slide-4.png" alt="next">
                    </a>
                </li>
                <li class="partners-slider__slide">
                    <a class="partners-slider__link" href="#">
                        <img class="partners-slider__images" src="images/logo-slide-5.png" alt="vintage">
                    </a>
                </li>
                <li class="partners-slider__slide">
                    <a class="partners-slider__link" href="#">
                        <img class="partners-slider__images" src="images/logo-slide-4.png" alt="next">
                    </a>
                </li>
                <li class="partners-slider__slide">
                    <a class="partners-slider__link" href="#">
                        <img class="partners-slider__images" src="images/logo-slide-3.png" alt="vintage">
                    </a>
                </li>
            </ul>
        </div>
    </div>

</section>