<div class="sidebar">
   <span class="visually-hidden">
      A block with filters where you can select products by category
   </span>
   <aside class="sidebar__block">
         <h2 class="sidebar__title">Category</h2>
            <div class="sidebar__inner">
               <ul class="sidebar__list">
                  <li class="sidebar__item">
                     <button class="sidebar__btn" type="button">Chair</button>
                  </li>
                  <li class="sidebar__item">
                     <button class="sidebar__btn" type="button">Table</button>
                  </li>
                  <li class="sidebar__item">
                     <button class="sidebar__btn" type="button">Lamp</button>
                  </li>
                  <li class="sidebar__item">
                     <button class="sidebar__btn" type="button">Watch</button>
                  </li>
                  <li class="sidebar__item">
                     <button class="sidebar__btn" type="button">Clock</button>
                  </li>
               </ul>
            </div>   
   </aside>
   <aside class="sidebar__block">
            <h2 class="sidebar__title">Price</h2>
            <div class="sidebar__inner">
               <form class="sidebar__form">
                  <label class="sidebar__label visually-hidden" for="range">
                     price selection filter
                  </label>
                  <input class="sidebar__input" type="text" id="range" name="range"
                     data-min="0"
                     data-max="1000.00"
                     data-from="100.00"
                     data-to="500.00"
                  >
               </form>
               <div class="sidebar__price">
                  <div class="sidebar__left">
                     <span>$</span>
                     <span class="sidebar__min"></span>
                  </div>
                  <div class="sidebar__right">
                     <span>$</span>
                     <span class="sidebar__max"></span>
                  </div>
               </div>
            </div>
   </aside>
   <aside class="sidebar__block">
            <h2 class="sidebar__title">Brand</h2>
            <div class="sidebar__inner">
               <ul class="sidebar__list">
                  <li class="sidebar__item">
                     <button class="sidebar__btn sidebar__button" type="button">
                        RFL
                        <span class="sidebar__number">(10)</span>
                     </button>
                  </li>
                  <li class="sidebar__item">
                     <button class="sidebar__btn sidebar__button" type="button">
                        Brothers
                        <span class="sidebar__number">(21)</span>
                     </button>
                  </li>
                  <li class="sidebar__item">
                     <button class="sidebar__btn sidebar__button" type="button">
                        Regal
                        <span class="sidebar__number">(3)</span>
                     </button>
                  </li>
                  <li class="sidebar__item">
                     <button class="sidebar__btn sidebar__button" type="button">
                        Nadia
                        <span class="sidebar__number">(14)</span>
                     </button>
                  </li>
                  <li class="sidebar__item">
                     <button class="sidebar__btn sidebar__button" type="button">
                        Otobi
                        <span class="sidebar__number">(6)</span>
                     </button>
                  </li>
               </ul>
            </div>
   </aside>
   <aside class="sidebar__block">
            <h2 class="sidebar__title">Recent products</h2>
            <div class="sidebar__inner">
               <ul class="sidebar__holder">
                  <li class="sidebar__items">
                     <a class="sidebar__link" href="#">
                        <div class="sidebar__images">
                           <img class="sidebar__photo" src="images/lamp-1.png" alt="product lamp" width="55" height="61">
                        </div>
                        <div class="sidebar__info">
                           <span class="sidebar__name">Pendant lamp</span>
                           <div class="sidebar__star" data-rateyo-rating="4"></div>
                           <span class="sidebar__cost">
                              23
                              <span>$</span>
                           </span>
                        </div>
                     </a>
                  </li>
                  <li class="sidebar__items">
                     <a class="sidebar__link" href="#">
                        <div class="sidebar__images">
                           <img class="sidebar__photo" src="images/lamp-2.png" alt="product lamp" width="37" height="60">
                        </div>
                        <div class="sidebar__info">
                           <span class="sidebar__name">Pendant lamp</span>
                           <div class="sidebar__star" data-rateyo-rating="4"></div>
                           <span class="sidebar__cost">
                              23
                              <span>$</span>
                           </span>
                        </div>
                     </a>
                  </li>
                  <li class="sidebar__items">
                     <a class="sidebar__link" href="#">
                        <div class="sidebar__images">
                           <img class="sidebar__photo" src="images/lamp-3.png" alt="product lamp" width="29" height="60">
                        </div>
                        <div class="sidebar__info">
                           <span class="sidebar__name">Pendant lamp</span>
                           <div class="sidebar__star" data-rateyo-rating="4"></div>
                              <span class="sidebar__cost">
                              23
                              <span>$</span>
                           </span>
                        </div>
                     </a>
                  </li>
               </ul>
            </div>
   </aside>
</div>