.article-author {
    padding: 30px 0;
    border-bottom: 2px solid #ebebeb;
    border-top: 2px solid #ebebeb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
    &__left {
        display: flex;
        align-items: center;
    }
    &__images {
        margin-right: 25px;
        @include max($md) {         
            margin-right: 13px;
        }
        @include max($s) {         
            margin-right: 10px;
            width: 65px;
            height: 65px;
        }
        
    }
    &__info {
        display: flex;
        flex-direction: column;
    }
    &__box--tags,
    &__name {
        margin-bottom: 15px;
        @include max($md) {         
            margin-bottom: 7px;
        }
    }
    &__name {
        color: #333;
        font-weight: $fw500;
        font-size: 18px;
        @include max($md) {         
            line-height: 1;
        }
        @include max($s) {         
            font-size: 16px;
        }
    }
    &__place {
        color: #666;
    }
    &__right {
        display: flex;
        flex-direction: column;
        @include max($s) {         
            padding-left: 75px;
        }
    }
    &__box {
        display: flex;
        align-items: center;
    }
    &__list {
        display: flex;
    }
    &__subtitle {
        color: #333;
        margin-right: 15px;
        min-width: 48px;
    }
    &__link {
        color: #999;
        transition: color .2s ease-in;
        outline: transparent;
        &:hover {
            color: #333;
        }
        &:focus {
            color: #666;
        }
        &:active {
            color: #999;
        }
    }
    @include max($lg) {         
        margin-bottom: 20px;
    }
    @include max($sm) {         
        padding: 10px 0;
    }
    @include max($s) {         
        flex-direction: column;
        align-items: start;
    }
}


.social {
    display: flex;
    align-items: center;
    &__item {
        &:not(:last-child) {
            margin-right: 17px;
        }
    }
    &__link {
        outline: transparent;
        &:hover .social__icon{
            fill: #333;
        }
        &:focus .social__icon{
            fill: #666;
        }
        &:active .social__icon{
            fill: #999;
        }
    }
    &__icon {
        fill: #a1a1a1;
        transition: fill .3s ease-in;
    }
    &__facebok {
        width: 8px;
        height: 15px;
    }
    &__twitter {
        width: 14px;
        height: 12px;
    }
    &__insta {
        width: 14px;
        height: 14px;
    }
    &__google {
        width: 18px;
        height: 11px;
    }
}


