.comments {
    &__list {
        margin-bottom: 90px;
        @include max($lg) {         
            margin-bottom: 0;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: $fw700;
        line-height: 1.5;
        margin-bottom: 50px;
        @include max($lg) {         
            margin-bottom: 10px;
        }
        @include max($s) {
            font-size: 21px;
        }
    }
    &__title--form {
        margin-bottom: 44px;
        @include max($lg) {         
            margin-bottom: 10px;
        }
    }
    &__images {
        margin-right: 34px;
        @include max($md) {         
            margin-right: 15px;
        }
        @include max($sm) {         
            margin-right: 10px;
            width: 75px;
            height: 75px;
        }
        @include max($s) {
            width: 65px;
            height: 65px;
        }
    }
    &__item {
        display: flex;
        margin-bottom: 35px;
        &:nth-child(even) {
            margin-left: 134px;
            padding: 30px 0;
            border-bottom: 1px solid #e0e0e0;
            border-top: 1px solid #e0e0e0;
            @include max($md) {         
                margin-left: 0;
                padding: 15px 0;
            }
        }
        @include max($md) {         
            margin-bottom: 15px;
        }
    }
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        @include max($lg) {         
            margin-bottom: 5px;
        }
        @include max($s) {
            flex-direction: column;
            align-items: start;
        }
    }
    &__name {
        font-weight: $fw700;
    }
    &__date {
        font-size: 14px;
        color: #9e9e9e;
    }
    &__text {
        line-height: 1.8;
        color: #565872;
        p {
            @include lineClamp;
            -webkit-line-clamp: 3;
            margin-bottom: 15px;
            @include max($sm) {         
                margin-bottom: 5px;
            }
            @include max($s) {
                -webkit-line-clamp: 5;
            }
        }
    }
    &__link {
        font-size: 14px;
        color: #565872;
        display: flex;
        align-items: center;
        transition: color .2s ease-in;
        outline: transparent;
        &:hover {
            color: $orange;
        }
        &:active {
            color: $orange100;
        }
        &:focus {
            color: $vio;
        }
        
        &:hover .comments__arrow {
            fill: $orange;
        }
        &:active .comments__arrow {
            fill: $orange100;
        }
        &:focus .comments__arrow {
            fill: $vio;
        }
    }
    &__arrow {
        width: 15px;
        height: 13px;
        fill: #565872;
        padding-left: 5px;
        transition: fill .2s ease-in;
    }
}