<section class="desing">
    <div class="container">
        <h2 class="title desing__title">New Design</h2>
        <ul class="desing__buttons">
            <li class="desing__item">                                
                <button class="desing__btn" type="button" data-filter="all">All</button>
            </li>
            <li class="desing__item">
                <button class="desing__btn" type="button" data-filter=".furnitures">Furnitures</button>
            </li>
            <li class="desing__item">
                <button class="desing__btn" type="button" data-filter=".chairs">Chairs</button>
            </li>
            <li class="desing__item">
                <button class="desing__btn" type="button" data-filter=".lighting">Lighting</button>
            </li>
            <li class="desing__item">
                <button class="desing__btn" type="button" data-filter=".decor">Decor</button>
            </li>
        </ul>
        <ul class="desing__inner">
            <li class="desing__item">
                <h3 class="desing__title">Beat Flat Pendant Black</h3>
                <span class="desing__classic">classic</span>
            </li>
            <li class="desing__item">
                <h3 class="desing__title">Lampe Sur Pieds Bamboo</h3>
                <span class="desing__classic">classic</span>
            </li>
            <li class="desing__item">
                <h3 class="desing__title">Rattan Rocking Chair</h3>
                <span class="desing__classic">classic</span>
            </li>
            <li class="desing__item">
                <h3 class="desing__title">Rattan Rocking Chair</h3>
                <span class="desing__classic">classic</span>
            </li>
            <li class="desing__item">
                <h3 class="desing__title">Rattan Rocking Chair</h3>
                <span class="desing__classic">classic</span>
            </li>
            <li class="desing__item">
                <h3 class="desing__title">Lampe Sur Pieds Bamboo</h3>
                <span class="desing__classic">classic</span>
            </li>
        </ul>
    </div>
</section> 