<section class="desing">
    <div class="container" data-ref="container-2">
        <h2 class="title">New Design</h2>
        <ul class="product-fillter">
            <li class="product-fillter__item">                                
                <button class="product-fillter__btn" type="button" data-filter="all">All</button>
            </li>
            <li class="product-fillter__item">
                <button class="product-fillter__btn" type="button" data-filter=".product-1">Furnitures</button>
            </li>
            <li class="product-fillter__item">
                <button class="product-fillter__btn" type="button" data-filter=".product-2">Chairs</button>
            </li>
            <li class="product-fillter__item">
                <button class="product-fillter__btn" type="button" data-filter=".product-3">Lighting</button>
            </li>
            <li class="product-fillter__item">
                <button class="product-fillter__btn" type="button" data-filter=".product-4">Decor</button>
            </li>
        </ul>
<div class="desing--hidden">

    <ul class="desing__inner">
        <li class="desing__block mix all product-1">
            <div class="desing__info">
                <h3 class="desing__title">Beat Flat Pendant Black</h3>
                <span class="desing__classic">Classic</span>
            </div>
            <img class="desing__product-1" src="images/desing-1.png" alt="product-1" width="345" height="110">
        </li>
        <li class="desing__block mix all product-1">
            <div class="desing__info">
                <h3 class="desing__title">Lampe Sur Pieds Bamboo</h3>
                <span class="desing__classic">Classic</span>
            </div>
            <img class="desing__product-2" src="images/desing-2.png" alt="product-2" width="313" height="108">
        </li>
        <li class="desing__block mix all product-2">
            <div class="desing__info">
                <h3 class="desing__title">Rattan Rocking Chair</h3>
                <span class="desing__classic">Classic</span>
            </div>
            <img class="desing__product-3" src="images/desing-3.png" alt="product-3" width="112" height="143">
        </li>
        <li class="desing__block mix all product-2">
            <div class="desing__info">
                <h3 class="desing__title">Rattan Rocking Chair</h3>
                <span class="desing__classic">Classic</span>
            </div>
            <img class="desing__product-4" src="images/desing-4.png" alt="product-4" width="310" height="135">
        </li>
        <li class="desing__block mix all product-3 product-4">
            <div class="desing__info">
                <h3 class="desing__title">Rattan Rocking Chair</h3>
                <span class="desing__classic">Classic</span>
            </div>
            <img class="desing__product-5" src="images/desing-5.png" alt="product-5" width="142" height="178">
        </li>
        <li class="desing__block mix all product-4">
            <div class="desing__info">
                <h3 class="desing__title">Lampe Sur Pieds Bamboo</h3>
                <span class="desing__classic">Classic</span>
            </div>
            <img class="desing__product-6" src="images/desing-6.png" alt="product-6" width="417" height="110">
        </li>
    </ul>
</div>
    </div>
</section> 