<section class="insights">
    <div class="container">
        <div class="insights__inner">

            <div class="insights__head">
                <h2 class="title insights__title">Our Insights & Articles</h2> 
                <a class="insights__link" href="#">
                    <span class="insights__view">View All</span>
                    <svg class="insights__icon">
                        <use xlink:href="images/sprite.svg#arrow-right"></use>
                    </svg>
                    <span class="visually-hidden">
                        when you click on the icon, you can view all the articles
                    </span>
                </a>
            </div>
            <ul class="insights__list">
                <li class="insights__item">
                    <article class="article-card">
                        <img class="article-card__images" src="images/article-1.jpg" alt="apartment decor" width="370" height="250">
                        <div class="article-card__info">
                            <a class="article-card__link" href="#">
                                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </a>
                            <div class="article-card__publication">
                                <div class="article-card__date">
                                    <span class="visually-hidden">
                                        calendar icon
                                    </span>
                                    <svg class="article-card__calendar">
                                        <use xlink:href="images/sprite.svg#calendar"></use>
                                    </svg>
                                    <time class="article-card__time" datetime="28.01.2020">28 January, 2020</time>
                                </div>
                                <div class="article-card__author">
                                    <span class="visually-hidden">
                                        calendar user
                                    </span>
                                    <svg class="article-card__user">
                                        <use xlink:href="images/sprite.svg#date"></use>
                                    </svg>
                                    By admin
                                </div>
                            </div>
                            <span class="article-card__news">News</span>
                        </div>
                    </article>
                </li>
                <li class="insights__item">
                    <article class="article-card">
                        <img class="article-card__images" src="images/article-2.jpg" alt="apartment decor" width="370" height="250">
                        <div class="article-card__info">
                            <a class="article-card__link" href="#">
                                Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
                            </a>
                            <div class="article-card__publication">
                                <div class="article-card__date">
                                    <span class="visually-hidden">
                                        calendar icon
                                    </span>
                                    <svg class="article-card__calendar">
                                        <use xlink:href="images/sprite.svg#calendar"></use>
                                    </svg>
                                    <time class="article-card__time" datetime="28.01.2020">28 January, 2020</time> 
                                </div>
                                <div class="article-card__author">
                                    <span class="visually-hidden">
                                        calendar user
                                    </span>
                                    <svg class="article-card__user">
                                        <use xlink:href="images/sprite.svg#date"></use>
                                    </svg>
                                    By admin
                                </div>
                            <span class="article-card__news">News</span>
                        </div>
                    </article>
                </li>
                <li class="insights__item">
                    <article class="article-card">
                        <img class="article-card__images" src="images/article-3.jpg" alt="apartment decor" width="370" height="250">
                        <div class="article-card__info">
                            <a class="article-card__link" href="#">
                                Rncididunt ut labore et dolore magna aliqua. Ut enim 
                            </a>
                            <div class="article-card__publication">
                                <div class="article-card__date">
                                    <span class="visually-hidden">
                                        calendar icon
                                    </span>
                                    <svg class="article-card__calendar">
                                        <use xlink:href="images/sprite.svg#calendar"></use>
                                    </svg>
                                    <time class="article-card__time" datetime="28.01.2020">28 January, 2020</time>
                                </div>
                                <div class="article-card__author">
                                    <span class="visually-hidden">
                                        calendar user
                                    </span>
                                    <svg class="article-card__user">
                                        <use xlink:href="images/sprite.svg#date"></use>
                                    </svg>
                                    By admin
                                </div>
                            <span class="article-card__news">News</span>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>


    <div class="logos-partner">
        <div class="container">
            <ul class="logos-slider">
                <li class="logos-slider__slide">
                    <img class="logos-slider__images" src="images/logo-slide-1.png" alt="peterson" width="82" height="84">
                </li>
                <li class="logos-slider__slide">
                    <img class="logos-slider__images" src="images/logo-slide-2.png" alt="kmn colsalting" width="151" height="48">
                </li>
                <li class="logos-slider__slide">
                    <img class="logos-slider__images" src="images/logo-slide-3.png" alt="chainforce" width="150" height="77">
                </li>
                <li class="logos-slider__slide">
                    <img class="logos-slider__images" src="images/logo-slide-4.png" alt="next" width="167" height="52">
                </li>
                <li class="logos-slider__slide">
                    <img class="logos-slider__images" src="images/logo-slide-5.png" alt="vintage" width="87" height="66">
                </li>
                <li class="logos-slider__slide">
                    <img class="logos-slider__images" src="images/logo-slide-4.png" alt="next" width="167" height="52">
                </li>
                <li class="logos-slider__slide">
                    <img class="logos-slider__images" src="images/logo-slide-3.png" alt="vintage" width="87" height="66">
                </li>
            </ul>
        </div>
    </div>

</section>