<section class="products-week">
    <div class="container">
        <h2 class="title products-week__title">Products of the week</h2>
        <!-- @include('../product-fillter.html') -->

        <ul class="product-fillter">
            <li class="product-fillter__item">                                
                <button class="product-fillter__btn filter" type="button" data-filter="all">All</button>
            </li>
            <li class="product-fillter__item">
                <button class="product-fillter__btn filter" type="button" data-filter=".furnitures">Furnitures</button>
            </li>
            <li class="product-fillter__item">
                <button class="product-fillter__btn filter" type="button" data-filter=".chairs">Chairs</button>
            </li>
            <li class="product-fillter__item">
                <button class="product-fillter__btn filter" type="button" data-filter=".lighting">Lighting</button>
            </li>
            <li class="product-fillter__item">
                <button class="product-fillter__btn filter" type="button" data-filter=".decor">Decor</button>
            </li>
        </ul>


        <ul class="products-week__inner" id="products-week__inner">
            <li class="products-week__block mix all furnitures">
                <article class="product-card">
                    <img class="product-card__photo" src="images/products-1.png" alt="photo Wooden radio" width="186" height="195">
                    <h3 class="product-card__name">Wooden radio</h3>
                    <span class="product-card__price">
                        <span>$</span>
                        29.00
                    </span>
                    <div class="product-card__icons">
                        <a class="product-card__link" href="#">
                            <svg class="product-card__search">
                                <use xlink:href="images/sprite.svg#search"></use>
                            </svg>
                            <span class="visually-hidden">
                                the search icon when you click on it will be a detailed description of the product
                            </span>
                        </a>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__corb">
                                <use xlink:href="images/sprite.svg#corb"></use>
                            </svg>
                            <span class="visually-hidden">
                                the shopping cart icon that will be added to the shopping cart when you click on it
                            </span>
                        </button>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__heart">
                                <use xlink:href="images/sprite.svg#heart"></use>
                            </svg>
                            <span class="visually-hidden">
                                heart icon that will add the product to the list of your favorite products when you click on it
                            </span>
                        </button>
                    </div>
                </article>
            </li>

            <li class="products-week__block mix all furnitures">
                <article class="product-card">
                    <img class="product-card__photo" src="images/products-2.png" alt="photo Wooden radio" width="148" height="206">
                    <h3 class="product-card__name">Wooden chair</h3>
                    <span class="product-card__price">
                        <span>$</span>
                        29.00
                    </span>
                    <div class="product-card__icons">
                        <a class="product-card__link" href="#">
                            <svg class="product-card__search">
                                <use xlink:href="images/sprite.svg#search"></use>
                            </svg>
                            <span class="visually-hidden">
                                the search icon when you click on it will be a detailed description of the product
                            </span>
                        </a>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__corb">
                                <use xlink:href="images/sprite.svg#corb"></use>
                            </svg>
                            <span class="visually-hidden">
                                the shopping cart icon that will be added to the shopping cart when you click on it
                            </span>
                        </button>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__heart">
                                <use xlink:href="images/sprite.svg#heart"></use>
                            </svg>
                            <span class="visually-hidden">
                                heart icon that will add the product to the list of your favorite products when you click on it
                            </span>
                        </button>
                    </div>
                </article>
            </li>
            <li class="products-week__block mix all chairs">
                <article class="product-card">
                    <img class="product-card__photo" src="images/products-3.png" alt="photo Wooden radio" width="208" height="164">
                        <h3 class="product-card__name">White chair</h3>
                        <span class="product-card__price">
                            <span>$</span>
                            29.00
                        </span>
                    <div class="product-card__icons">
                        <a class="product-card__link" href="#">
                            <svg class="product-card__search">
                                <use xlink:href="images/sprite.svg#search"></use>
                            </svg>
                            <span class="visually-hidden">
                                the search icon when you click on it will be a detailed description of the product
                            </span>
                        </a>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__corb">
                                <use xlink:href="images/sprite.svg#corb"></use>
                            </svg>
                            <span class="visually-hidden">
                                the shopping cart icon that will be added to the shopping cart when you click on it
                            </span>
                        </button>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__heart">
                                <use xlink:href="images/sprite.svg#heart"></use>
                            </svg>
                            <span class="visually-hidden">
                                heart icon that will add the product to the list of your favorite products when you click on it
                            </span>
                        </button>
                    </div>
                </article>
            </li>
            <li class="products-week__block  mix all chairs">
                <article class="product-card">
                    <img class="product-card__photo" src="images/products-4.png" alt="photo Wooden radio" width="224" height="135">
                    <h3 class="product-card__name">Retro table</h3>
                    <span class="product-card__price">
                        <span>$</span>
                        29.00
                    </span>
                    <div class="product-card__icons">
                        <a class="product-card__link" href="#">
                            <svg class="product-card__search">
                                <use xlink:href="images/sprite.svg#search"></use>
                            </svg>
                            <span class="visually-hidden">
                                the search icon when you click on it will be a detailed description of the product
                            </span>
                        </a>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__corb">
                                <use xlink:href="images/sprite.svg#corb"></use>
                            </svg>
                            <span class="visually-hidden">
                                the shopping cart icon that will be added to the shopping cart when you click on it
                            </span>
                        </button>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__heart">
                                <use xlink:href="images/sprite.svg#heart"></use>
                            </svg>
                            <span class="visually-hidden">
                                heart icon that will add the product to the list of your favorite products when you click on it
                            </span>
                        </button>
                    </div>
                </article>
            </li>
            <li class="products-week__block mix all lighting">
                <article class="product-card">
                    <img class="product-card__photo" src="images/products-5.png" alt="photo Wooden radio" width="236" height="162">
                    <h3 class="product-card__name">Wooden radio</h3>
                    <span class="product-card__price">
                        <span>$</span>
                        29.00
                    </span>
                    <div class="product-card__icons">
                        <a class="product-card__link" href="#">
                            <svg class="product-card__search">
                                <use xlink:href="images/sprite.svg#search"></use>
                            </svg>
                            <span class="visually-hidden">
                                the search icon when you click on it will be a detailed description of the product
                            </span>
                        </a>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__corb">
                                <use xlink:href="images/sprite.svg#corb"></use>
                            </svg>
                            <span class="visually-hidden">
                                the shopping cart icon that will be added to the shopping cart when you click on it
                            </span>
                        </button>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__heart">
                                <use xlink:href="images/sprite.svg#heart"></use>
                            </svg>
                            <span class="visually-hidden">
                                heart icon that will add the product to the list of your favorite products when you click on it
                            </span>
                        </button>
                    </div>
                </article>
            </li>
            <li class="products-week__block mix all lighting">
                <article class="product-card">
                    <img class="product-card__photo" src="images/products-6.png" alt="photo Wooden radio" width="230" height="170">
                    <h3 class="product-card__name">Wooden chair</h3>
                    <span class="product-card__price">
                        <span>$</span>
                        29.00
                    </span>
                    <div class="product-card__icons">
                        <a class="product-card__link" href="#">
                            <svg class="product-card__search">
                                <use xlink:href="images/sprite.svg#search"></use>
                            </svg>
                            <span class="visually-hidden">
                                the search icon when you click on it will be a detailed description of the product
                            </span>
                        </a>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__corb">
                                <use xlink:href="images/sprite.svg#corb"></use>
                            </svg>
                            <span class="visually-hidden">
                                the shopping cart icon that will be added to the shopping cart when you click on it
                            </span>
                        </button>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__heart">
                                <use xlink:href="images/sprite.svg#heart"></use>
                            </svg>
                            <span class="visually-hidden">
                                heart icon that will add the product to the list of your favorite products when you click on it
                            </span>
                        </button>
                    </div>
                </article>
            </li>
            <li class="products-week__block mix all decor">
                <article class="product-card">
                    <img class="product-card__photo" src="images/products-7.png" alt="photo Wooden radio" width="232" height="167">
                    <h3 class="product-card__name">Wooden chair</h3>
                    <span class="product-card__price">
                        <span>$</span>
                        29.00
                    </span>
                    <div class="product-card__icons">
                        <a class="product-card__link" href="#">
                            <svg class="product-card__search">
                                <use xlink:href="images/sprite.svg#search"></use>
                            </svg>
                            <span class="visually-hidden">
                                the search icon when you click on it will be a detailed description of the product
                            </span>
                        </a>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__corb">
                                <use xlink:href="images/sprite.svg#corb"></use>
                            </svg>
                            <span class="visually-hidden">
                                the shopping cart icon that will be added to the shopping cart when you click on it
                            </span>
                        </button>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__heart">
                                <use xlink:href="images/sprite.svg#heart"></use>
                            </svg>
                            <span class="visually-hidden">
                                heart icon that will add the product to the list of your favorite products when you click on it
                            </span>
                        </button>
                    </div>
                </article>
            </li>
            <li class="products-week__block mix all decor">
                <article class="product-card">
                    <img class="product-card__photo" src="images/products-8.png" alt="photo Wooden radio" width="238" height="153">
                    <h3 class="product-card__name">Retro table</h3>
                    <span class="product-card__price">
                        <span>$</span>
                        29.00
                    </span>
                    <div class="product-card__icons">
                        <a class="product-card__link" href="#">
                            <svg class="product-card__search">
                                <use xlink:href="images/sprite.svg#search"></use>
                            </svg>
                            <span class="visually-hidden">
                                the search icon when you click on it will be a detailed description of the product
                            </span>
                        </a>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__corb">
                                <use xlink:href="images/sprite.svg#corb"></use>
                            </svg>
                            <span class="visually-hidden">
                                the shopping cart icon that will be added to the shopping cart when you click on it
                            </span>
                        </button>
                        <button class="product-card__link" type="button">
                            <svg class="product-card__heart">
                                <use xlink:href="images/sprite.svg#heart"></use>
                            </svg>
                            <span class="visually-hidden">
                                heart icon that will add the product to the list of your favorite products when you click on it
                            </span>
                        </button>
                    </div>
                </article>
            </li>
        </ul>
    </div>


    <div class="container container--fluid">
        <ul class="cards">
            <li class="cards__card">
                <img class="cards__photo cards__photo--big" src="images/card-1.png" alt="photo lamp" width="233" height="405">
                <div class="cards__info">
                    <span class="cards__title">Mirum Notare Tellus</span>
                    <div class="cards__text">
                        <p>
                            LEDCornBulb Lamp 5W 7W 10W 12W 15W E26 E27LEDCornLight
                        </p>
                    </div>      
                    <a class="cards__link" href="#">
                        <span class="cards__more">View More</span>
                        <svg class="cards__arrow">
                            <use xlink:href="images/sprite.svg#arrow"></use>
                        </svg>
                        <span class="visually-hidden">
                            the arrow icon, when you click on it, we will go to the article about the product.
                        </span>
                    </a>
                </div>
            </li>
            <li class="cards__card">
                <img class="cards__photo cards__photo--small" src="images/card-2.png"  alt="photo lamp" width="222" height="399">
                <div class="cards__info">
                    <span class="cards__title">Malesuada Tempor Euismod</span>
                    <div class="cards__text">
                        <p>
                            50W 8000lm Compact Size for HID StreetLightReplacementLEDCornLight
                        </p>
                    </div>
                    <a class="cards__link" href="#">
                        <span class="cards__more">View More</span>
                        <svg class="cards__arrow">
                            <use xlink:href="images/sprite.svg#arrow"></use>
                        </svg>
                        <span class="visually-hidden">
                            the arrow icon, when you click on it, we will go to the article about the product.
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>

</section>