<section class="trendy">
    <div class="container container--fluid">
        <h2 class="visually-hidden">Smart and trendy</h2>
        <ul class="products-slider">
            <li class="products-slider__slide">
                <div class="container">
                    <div class="products-slider__inner">
                        <div class="products-slider__holder">
                            <div class="products-slider__name">Smart and trendy</div>
                            <div class="products-slider__text">
                                <p>
                                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                                </p>
                            </div>
                            <a class="products-slider__link" href="#">
                                Shop Now
                            </a>
                        </div>
                        <img class="products-slider__photo" src="images/trendy-slider.png" alt="sofa" width="640" height="264">
                    </div>
                </div>
            </li>
            <li class="products-slider__slide">
                <div class="container">
                    <div class="products-slider__inner">
                        <div class="products-slider__holder">
                            <div class="products-slider__name">Smart and trendy</div>
                            <div class="products-slider__text">
                                <p>
                                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                                </p>
                            </div>
                            <a class="products-slider__link" href="#">
                                Shop Now
                            </a>
                        </div>
                        <img class="products-slider__photo" src="images/trendy-slider.png" alt="sofa" width="640" height="264">
                    </div>
                </div>
            </li>
            <li class="products-slider__slide">
                <div class="container">
                    <div class="products-slider__inner">
                        <div class="products-slider__holder">
                            <div class="products-slider__name">Smart and trendy</div>
                            <div class="products-slider__text">
                                <p>
                                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                                </p>
                            </div>
                            <a class="products-slider__link" href="#">
                                Shop Now
                            </a>
                        </div>
                        <img class="products-slider__photo" src="images/trendy-slider.png" alt="sofa" width="640" height="264">
                    </div>
                </div>
            </li>
            
        </ul>
        <div class="services">
            <ul class="services__list">
                <li class="services__item">
                    <div class="services__info services__info-support">
                        <h3 class="services__title">Support 24/7.</h3>
                        <div class="services__text services__text--support">
                            <p>
                                Contact us 24 hours a day, 7 days a week.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="services__item">
                    <div class="services__info services__info-delivery">
                        <h3 class="services__title">Delivery.</h3>
                        <div class="services__text services__text--delivery">
                            <p>
                                Free shipping on all US order.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="services__item">
                    <div class="services__info services__info-secure">
                        <h3 class="services__title">100% Payment secure.</h3>
                        <div class="services__text services__text--secure">
                            <p>
                                We ensure secure payment with PEV.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>