.catalog {
    &__wrapper {
        display: flex;
    }
    &__inner {
        max-width: 870px;
        width: 100%;
        margin-bottom: 115px;
    }
    &__slider {
        padding: 75px 0 85px;
    }
}










