.catalog-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
    &__items {
        max-width: 270px;
        width: 100%;
        margin-bottom: 20px;
        .product-card__text,
        .catalog-filter__star {
            display: none;
        }
        .product-card__images {
            margin-top: auto;
        }
        
        &.catalog-cards__items--line {
            box-shadow: none;
            max-width: 100%;
            margin-bottom: 32px; 
            .product-card {
                flex-direction: row;
                padding: 0;
                box-shadow: none;
                @include max($lg) {
                    flex-direction: column;
                }
            }
            .product-card__images {
                max-width: 370px;
                width: 100%;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #f2f2f2;
                margin-right: 60px;
                @include max($xl) {
                    margin-right: 30px;
                    max-width: 254px;
                    height: 325px;
                }
                @include max($lg) {
                    margin-right: 0;
                    max-width: 100%;
                    height: 230px;
                }
            }
            .product-card__content {
                @include max($lg) {
                    padding: 0 10px;
                }
            }
            .product-card__images--big {
                margin-left: 0;
                justify-content: flex-end;
            }
            .product-card__photo--one {
                width: 323px;
                height: 338px;
            }
            .product-card__photo--two {
                width: 249px;
                height: 347px;
            }
            .product-card__photo--three {
                width: 298px;
                height: 234px;
            }
            .product-card__photo--four {
                width: 299px;
                height: 188px;
            }
            .product-card__photo--five {
                width: 288px;
                height: 231px;
            }
            .product-card__photo--six {
                width: 288px;
                height: 231px;
            }
            .product-card__photo--eight {
                width: 288px;
                height: 231px;
            }
            .product-card__photo--nine {
                width: 288px;
                height: 231px;
            }
            .product-card__photo--ten {
                width: 288px;
                height: 231px;
            }
            .product-card__photo--big {
                width: 319px;
                height: 151px;
            }
            .product-card__photo {
                margin-bottom: auto;
                @include max($xl) {
                    width: auto;
                    height: auto;
                }
            }
            .product-card__name {
                color: #333;
                font-size: 40px;
                @include lineClamp;
                -webkit-line-clamp: 1;
                @include max($lg) {
                    font-size: 35px;
                }
                @include max($md) {
                    font-size: 30px;
                }
            }
            .product-card__link--line,
            .product-card__links {
                display: none;
            }
            .catalog-filter__star {
                display: block;
                margin-bottom: 15px;
                @include max($lg) {
                    margin-bottom: 5px;
                }
            }
            .product-card__price {
                justify-content: start;
                margin-bottom: 25px;
                font-size: 30px;
                line-height: 1.5;
                color: #333;
                @include max($lg) {
                    margin-bottom: 10px;
                    font-size: 27px;
                }
                @include max($md) {
                    font-size: 22px;
                }
            }
            .product-card__text {
                display: block; 
                color: $title;
                line-height: 1.8;
                margin-bottom: 23px;
                max-width: 410px;
                p {
                    @include lineClamp;
                    -webkit-line-clamp: 3;
                }
                @include max($lg) {
                    max-width: 100%;
                    line-height: 1.5;
                }
            }
            .product-card__icons {
                display: flex;
                position: static;
                transform: none;
                opacity: 1;
            }
            .product-card__link {
                width: 50px;
                height: 50px;
                border: none;
                border-radius: 0;
                box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
            }
        }
    }
    @include max($xl) {
        justify-content: space-evenly;
    }
    @include max($lg) {
        margin-bottom: 30px;
        flex-direction: column;
        align-items: center;
    }
}


