.catalog-sort {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border: 1px solid $fff100;
    margin-bottom: 20px;
    &__items {
        &:nth-child(1) {
            margin-right: 15px;
        }
    }
    &__items--filter {
        margin-left: auto;
        display: none;
        @include max($lg) {
            display: block;
        }
    }
    &__grid {
        width: 15px;
        height: 15px;
    }
    &__line {
        width: 20px;
        height: 15px;
    }
    &__icon {
        fill: $title;
        transition: fill .2s ease-in;
        &:hover {
            fill: $fff500;
        }
    } 
    &__icon--active {
        fill: $orange100;
        &:hover {
            fill: $orange100;
        }
    }
    &__btn {
        padding: 0;
        height: 15px;
        border: none;
        outline: transparent;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        &:focus {
            outline: 1px solid #000;
        }
    }
    &__btn-filter {
        text-transform: uppercase;
        font-size: 15px;
        height: 25px;
        background-color: $title;
        color: #fff;
        line-height: 1.7;
        padding: 0 10px;
        border: 1px solid $title;
        outline: transparent;
        transition: background-color .2s ease-in, color .2s ease-in, border-color .2s ease-in;
        &:hover {
            background-color: #fff;
            color: $title;
            border-color: $title;
        }
        &:focus {
            background-color: $vio;
        }
    }
    @include max($lg) {
        margin-bottom: 10px;
    }
    @include max($sm) {
        padding: 5px 10px;
    }
}