.catalog-sort {
    display: flex;
    padding: 15px 20px;
    border: 1px solid $fff100;
    margin-bottom: 20px;
    &__items {
        margin-right: 15px;
    }
    &__block {
        width: 15px;
        height: 15px;
        fill: $title;
        transition: fill .2s ease-in;
        &:hover {
            fill: $orange100;
        }
    }
    &__line {
        width: 20px;
        height: 15px;
        fill: $title;
        transition: fill .2s ease-in;
        &:hover {
            fill: $orange100;
        }
    }
    &__btn {
        padding: 0;
        height: 15px;
        border: none;
        outline: transparent;
        background-color: transparent;
        cursor: pointer;
        &:focus {
            outline: 1px solid #000;
        }
    }
}