<div class="map">
    <div class="container">
        <div class="map__inner">
            <form class="form map__form">
                <label for="name" class="visually-hidden">
                    text field where you need to enter your name
                </label>
                <input class="form__input form__input--text" type="text" id="name" name="name" placeholder="Name" required>
                <label for="email" class="visually-hidden">
                    text field where you need to specify your email
                </label>
                <input class="form__input form__input--email" type="email" id="email" name="email" placeholder="email" required>
                <label class="visually-hidden" for="comment">
                    text field where you can leave your comment
                </label>
                <textarea class="form__input form__textarea" name="Comment" id="comment" placeholder="message" required></textarea>
                <button class="form__btn" type="submit">Send message</button>
            </form>
            <div id="map"></div>
        </div>
    </div>
</div>